# **01. Introduction to Python and Python Data Types**

Welcome to our <font color=#f2cc38>**First Content Block**</font> In the Python Introduction Module! 

Today we will be covering all content from our **first steps** in Python to everything about the different **data types** we can find while developing Python code.

## **01.1. Our Python first steps**

In this section, we will be reviewing core fundamental Python concepts, from main things to have in mind while writing and **structuring** Python code versus SQL code, to the concept of **libraries** and how to import them into Python, up to coding our first, most fundamental piece of code via the **print** statement.

### **A Fundamental Principle of <font color=#f2cc38> Structuring Python </font> Code**

One main thing all participants of this course have in common is that all of you have an outstanding SQL proficiency level. You have all been introduced to Python already, and worked in it, so you may well know that code structuring in Python is way different than code structuring in SQL. **Why is that so ?** SQL is a query language looking at making information requests to databases. As such, we would normally structure its code by means of "dictating" data transformation rules to our base data contained in the database. Because of that, **all commands** given by SQL target the modification of entire columns (think of e.g., COALESCE, or LOWER) or tables (think of e.g. GROUP BY or ORDER BY at a time). In summary, in SQL we **never deal with individual elements** (i.e., cells) of data at a time. However, **Python is based on that**.

**Python coding targets individual objects at a time**, and every line of code has its aim on applying an individual transformation to one sole object, at its core. Fancier added modules on top of base Python, like Numpy or Pandas, may hide the reality of that, but while in SQL you never had to worry about how the database was dealing with individual objects, in Python you do have to concern yourself on how the code is running per element, in a most fundamnetal basis. And from there, we can extrapolate to dealing with multiple objects at a time, via the use of e.g., Loops.

So, from now on, while structuring Python code in your head, think about writing modifications for individual objects, and iterating through groups of them to apply broad transformations in them.

### **The Concept of <font color=#f2cc38> Libraries </font> in Python**

We spoke about Numpy and Pandas before. Python has an insane amunt of possibilities to code, the problem is that, in order to cover main functionalities on your day to day work requires a massive amount of code. Think about developing a **Deep Learning AI**. Machine Learning Engineers can't be coding each day from scratch the mathematical principles of a Neural Network. Instead, code is written once, and recycled every time. When that trascends individual use and steps into the territory of open-source sharing, one may prepare a **Library** i.e., a comprehensive collection of code to satisfy one function, coded by one or more individuals, which may depend on other libraries at a time, built on top of Python.

Libraries are what allow users to code extremelly complicated concepts conceptually in **very few lines** of code, like being able to code the training of an AI in 5 to 10 lines of code if wanted.

Libraries also have overlapping functionalities, like many that are useful for Data transformation and handling (pandas, or polars), Data Visualization (seaborn, plotly.express, etc.), Data Science (sklearn, tensorflow, pytorch, etc.). It's on our knowledge and preference to know when to use one or the other, or how to combine them to obtain the best results and simplicityout of our code.

 * Libraries must be imported in our Python Script. Let's see how to do that, via **import** and **pip**.

In [13]:
# JupyterLab has predefined Installed packages, like math, pandas or numpy are. Let's import them both.
import math

# It's a best practice to import Pandas and Numpy with pseudonyms (pd and np). For that, we use the **as** statement.
import pandas as pd
import numpy as np

In [14]:
# Now we can run code with any of these libraries!
np.array([1, 2, 3])

array([1, 2, 3])

 - If the library is not installed by default in JupyterLab, we have to install it using **pip install**

In [36]:
!pip install polars

Collecting polars
  Downloading polars-0.19.1-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 41.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: polars
Successfully installed polars-0.19.1

 - If we want to omit all text associated with installing a package, just use a '-q' in the end:

In [16]:
!pip install geojson -q

### **The <font color=#f2cc38> print </font> statement (this wouldn't be a Python course without it)**

Despite Jupyter Notebook having a predefined functionality to show the resulti of a piece of code when executed, and a variable is not assigned to said result, in many environments where code is executed that is not the case.

Instead, we make use of the **print** statement, which lets us visualize the result of a piece of code. The print statement is ideal for **debugging** i.e., finding out which piece of code is making our whole code crash.

Normally, the first piece of code someone writes is **'Hello World'** in Python. So let's pretend we haven't run the cells above, and let's execute our first print statement.

In [18]:
print('Hello World!')

Hello World!

## **01.2. Assigning Variables**

Python is fully based on the use of variables. That means that we will be storing a value in a "predefined name" (called variable) so that we can make a recurrent use of it, or modify it when needed.

Let's see how to create one:

In [1]:
# let's generate a variable called 'x' and assign it our opening sentence. We do it via the use of an equal.

x = 'Hello World'

In [2]:
print(x)

Hello World

At the same time, we can reassign it, and give it another value:

In [3]:
x = 'Another Value'
print(x)

Another Value

## **01.3. Types of Objects**

Python is fundamented on the use of **objects**. So far, we have dealt with just one type of object, like 'Hello World!' was, representing one sentence. However, there are many more of them. Let's get a quick overview on the most important of them, with which we will be working:

 - **Numerical Objects**. Numerical objects aim to represent numbers, and they consider different **object types**, like **integers** or **floats**.
 - **Booleans**. Type of Objects representing True or False values.
 - **Strings**. Strings represent texts in Python.
 - **Lists**. Lists are one type of object iming to describe a **sequence of other object elements** in Python.
 - **Sets**. Like lists, they represent a sequence of objects in Python, but their core components must not be repeated therein.
 - **Tuples**. Sequence-representing objects, like lists, that unlike them are _immutable_ i.e., their core components cannot be canged.
 - **Dictionaries**. Dictionaries are objects aiming to correlate sets of values among each other.

throughout this section, we will be **reviewing all of them**, as well as other core concepts, like further concerning the **printing statement** or **comparison operators**, linked to some of them.

### **01.3.1. <font color=#f2cc38> Numerical </font> Objects in Python**

In our Python journey, we are mainly going to encounter two main types of numercial objects:
 - **ints**: they are the object type taking care of representing integers (like 1, 3, 10, -4).
 - **floats**: they are the object type taking care of representing fractional numbers, exponential ones, etc. (like 1.4, 3e4, 2E2, etc.).
 
Numerical objects can be **operated with**. Let's oversee some fundamental operations that can be made with them:

#### **Arithmetic Operations with Numerical Objects**

Let's get an overview on all main possible operations to be done with numerical objects:

In [1]:
# Numbers can be added, subtracted, multiplied, divided and powered
print(2+1)
print('----')
print(10-1)
print('----')
print(2*2)
print('----')
print(7/2)
print('----')
print(7**2)

3
----
9
----
4
----
3.5
----
49

In [3]:
# Also, we can do a specific operation to round a division to the nearest integer on the lower end of the calculation:
print(10//3)
print('----')
print(9//10)

3
----
0

In [5]:
# or, also, calculate the remainder of a division between two numbers in the following way:
print(10%3)

1

The **remainder** of a division can be used to see whether one number is a **multiple** of another or not (whether the remainder is equal to 0 or not).

Also, be sure to use parentheses to prioritize certain **orders** among numerical operations:

In [6]:
# It's not the same printing 'a' than 'b'. Remember that the order of operations alters the result.
a = 5 + 10 * 3
b = (5+10) * 3
print(a)
print('---')
print(b)

35
---
45

#### **Using Variables with Objects**

Let's get a further overview on variables

In [22]:
a = 4

In [23]:
b = 5

In [24]:
# You can operate between variables

a + b

9

In [8]:
# You can redefine variables by the use of the same variable:

a = a + 5

print(a)

40

In [36]:
# There's a quicker way to the what has been done in the cell above - this command sums 5 to the original variable a:

a += 5

print(a)

629

In [37]:
# And it can also be used to reference another variable - in this case, we're summing b to a every time we execute it

a = 2
b = 3
print(a)
a+=b
print(a)
a+=b
print(a)

2
5
8

### **01.3.2. <font color=#f2cc38> Boolean </font> Objects in Python and  <font color=#f2cc38> Comparison </font> Operators**

#### **Booleans**

Booleans are objects that either indicate whether a statement is true or false. Booleans also include a third object to represent the absence of value of a placeholder e.g., a 'None' object.

In [13]:
True

True

In [14]:
False

False

In [15]:
None

In [16]:
a = True
print(a)

True

#### **Comparison Operators**

Booleans can also be represented by comparison operator expressions, basically consisting on the comparison of different objects to assess whether an assessment is True or False. For instance:

In [19]:
# It's clear that 3 is not greater to 2. We obtain a False statement. Therefore, as a matter of fact, the expression '3 < 2' is a Boolean, as it acts as a false.
print(3 < 2)

False

Main Comparison Operators to review in Python:

 - ==: Equals to
 - !=: Different than
 - Either >; <: Greater; Lower than
 - Either >=; <=: Greater or equal than; Lower or equal than

Let's review them:

In [39]:
3 == 2

False

In [22]:
3 != 2

True

In [26]:
3 < 2

False

In [27]:
2 >= 2

True

#### **Multiple Conditions**

If we want to test the veracity of multiple statements at a time, we can either chain them if applicable, or use the **and** or **or** statements:

In [28]:
10 < 50 < 100

True

In [30]:
(1+5) > 3 and 2*3 > 10

False

In [31]:
(1+5) > 3 or 2*3 > 10

True

To see it more clearly:

In [33]:
True and False

False

In [35]:
False or True

True

### **01.3.3. <font color=#f2cc38> Strings </font> in Python**

A String is a representation of text information e.g., words or sentences.

Despite seeing them as that, strings can also be considered a **sequence of elements** i.e., a sequence of individual characters, that we can access independently by means of **indexing and slicing** strings.

In [37]:
# Strings can either be defined with single quotation marks:

print('this is string1')

# as well as double quotation marks, both are the same
print("this is string1 again")

this is string1
this is string1 again

#### **Indexing and Slicing Strings**

Let's first check that strings are actually a sequence of infividual characters. We can do that via the use of the **len()** function, which states the amount of elements included in an object:

In [38]:
len('hello')

5

As we can see, there are many individual components in a string. What if we want to extract just some of them? Let's **Index**

In [43]:
x = 'hello'

In [43]:
# The first element is represented by a 0, the second a 1, etc.

print(x[0])
print('---')
print(x[1])
print('---')
print(x[2])
print('---')
print(x[3])
print('---')
print(x[4])

h
---
e
---
l
---
l
---
o

In [46]:
# If we want to start by the ending, we can use negative indexes:

print(x[-1])
print('---')
print(x[-2])
print('---')
print(x[-3])
print('---')
print(x[-4])
print('---')
print(x[-5])

o
---
l
---
l
---
e
---
h

**Sequencing** aids in extracting multiple chunks of text:

In [48]:
x = 'hello world'

In [50]:
x[:5]

'hello'

In [51]:
x[6:]

'world'

In [52]:
x[:-1]

'hello worl'

**Quick Exercise**

Obtain in three different variables the name of both presidents and of the discussed country

In [1]:
s = "Mr. Kim and Mr. Putin are expected to discuss military cooperation between their countries, including the possibility of North Korea supplying ..."

In [50]:
k = s[4:7]
p = s[16:21]
nk = s[-25:-14]

#### **Operating with Strings**

We can sum and multiply a string to obtain diferent values:

In [65]:
'hello' + ' ' + 'world'

'hello world'

In [66]:
'hello '*4

'hello hello hello hello '

#### **Print Formatting**

What if we want to prepare a print statement that showcases a result of the code? We use print formatting. This is most useful when **debugging** code, beacuse this way we can get what are the results of individual parts of code that are written.

Let's see how to do that:

In [55]:
'THE' == "THE"

True

In [1]:
name = 'Batman'
print(f"My name is {name}")

My name is Batman

This cannot only be done with string variables, but with whatever type of object value:

In [54]:
temperature = 27
print(f"Today's temperature is {temperature}ºC")

Today's temperature is 27ºC

#### **Introduction to Functions and Methods**

In Python, we find a couple of characteristics worth mentioning that are related to performing actions. These are **functions** and **methods**. 

A **function** is an isolated piece of code that is called to perform an action. A function can be applied over an object or it can act independently of any, depending on the arguments it requires. The idea, however, is that it's an **external element** to the object that is applied over it. Think of the **print()** or **len()** functions. Both of them are called an applied over an object to perform different actions. We will see that better during the following lecture.

A **method** is a specific coded action that is always **related to an object class**. That means that the action itself is always the same no matter what what the object is, as long as it belongs to the same class. Let me present an example. Strings, just because of being strings, have specific functionalities such as, for instance, the **.lower()** method, just renders any string lowercase. Over this lecture, we will be overseeing a couple of main important method for some of the most basic Python object types, like strings and lists. Concerning methods, we will not be diving deeply on how to code ad-hoc any of them. However, we will have a short introduction on Object Oriented Programming some modules later, just to have a better grasp on Python's Object oriented Programming.

#### **Useful String Methods**

**.upper(), .lower(), .capitalize()**

They are used to render a string uppercase, or lowercase, or capitalized, respectively.

In [64]:
x = 'hello world'
x.upper()

'HELLO WORLD'

In [65]:
# However, beware that this does not effect a permanent change onto the object, something that other methods (like some related to lists) do.
x

'hello world'

In [10]:
x = 'HELLO WORLD'
x = x.lower()
print(x)

hello world

In [11]:
x.capitalize()

'Hello world'

**.split()**

.split() separates a string according to a specified delimiter. By default, the related delimiter is a white space, ' '. It returns a list of strings, with the related resulting substrings.

In [5]:
x = 'today is a very good day'
x.split()

['today', 'is', 'a', 'very', 'good', 'day']

In [67]:
# specifying the related delimiter:

x = 'I like bananas, apples, figues, oranges and grapes'
x.split(',')

['I like bananas', ' apples', ' figues', ' oranges and grapes']

**.strip()**

Notice how, in the previous example, we have left some substrings with initial or final white spaces. Many times, when trying to match strings, this is going to imply a problem, as two strings like 'apple' and 'apple ' are not equal.

We use .strip() to trim all initial or final white spaces.

In [8]:
x1 = 'apple  '
x2 = ' apple'
x3 = 'apple'

print(x1 == x2 == x3)
print('----')
print(x1.strip() == x2.strip() == x3)

False
----
True

**.partition()**

.split() erases the specified delimiter. .partition() avoids that, by keeping it in the obtained result. Moreover, the result is obtained as a tuple, instead of a list.

In [12]:
x = 'hello world'
print(x.split('l'))
print(x.partition('l'))

['he', '', 'o wor', 'd']
('he', 'l', 'lo world')

**.isdigit()**

tells whether a string consists exclusively of digits. There are other related methods, like .isalnum() for alphanumeric characters, .isalpha() for alphabetic ones, .islower(), .isupper(), .isspace(), ..

In [13]:
'3'.isdigit()

True

**.find()**

.find() retrives the starting index of a specific substring in a string. If the substring is repeated, it returns the result for the first occurrence.

In [15]:
'hello world'.find('o')

4

In [71]:
s = "Mr. Kim and Mr. Putin are expected to discuss military cooperation between their countries, including the possibility of North Korea supplying ..."

In [72]:
s.find('Putin')

16

In [75]:
s[s.find('Putin'):s.find('Putin') + len('Putin')]

'Putin'

**.count()**

retrieves the number of occurrences of a specific substring in a given string.

In [16]:
x = 'I like oranges, and apples, and oranges, and figues, and oranges, and bananas'
x.count('oranges')

3

**Quick Exercise**

Turn this text considering the list of presidents of the US into a list.

In [3]:
txt = "Some Presidents of the US consider obama, bush, clinton, reagan, fdr, kennedy."

In [80]:
index = txt.find('obama')
presidents = txt[index:]
presidents = presidents.split(', ')

In [81]:
presidents

['obama', 'bush', 'clinton', 'reagan', 'fdr', 'kennedy.']

### **01.3.4. <font color=#f2cc38> Lists and Sets </font> in Python**

Lists are **sequences of elements** in Python, comprising other objects, be it numerical, strings, other lists, booleans, etc.

As such, they can also be indexed and sliced. By doing so, we can **also alter other elements in the list**, modifying its integral components, which is the functionality that distinguishes them from tuples.

Also, lists can have **multiple repeated elements**, which is what differences them from sets.

#### **Lists**

Let's see more about lists, and how to declare them:

In [57]:
my_list = [4, 'hello', False]

print(my_list)

[4, 'hello', False]

In [59]:
# They can also be comprised of other lists:
my_list = [4, 'hello', False, [1, 2, 3]]

print(my_list)

[4, 'hello', False, [1, 2, 3]]

We can **index** elements in a list to select them:

In [61]:
my_list = [1, 2, 3]
print(my_list[0])
print('---')
print(my_list[-1])

1
---
3

In [84]:
x = ['hello', 1, 2]
y = x[0]
print(y[0])

h

We can also reassign values for an element in a list:

In [62]:
my_list[2] = 30

In [63]:
print(my_list)

[1, 2, 30]

And also select subsets of a same list:

In [64]:
my_list[:-1]

[1, 2]

To add new items in a list:

In [86]:
[1, 2, 3] + ['hello']

[1, 2, 3, 'hello']

In [69]:
[1, 2, 3] + ['hello', 4, 5]

[1, 2, 3, 'hello', 4, 5]

To reassing their values:

In [71]:
my_list = [1, 2, 3]
my_list += [4, 5]
print(my_list)

[1, 2, 3, 4, 5]

#### **Sets**

Sets are collections of unique elements. As such, if we try to add already present elements in a set, we will obtain an error:

In [7]:
# Declare a new set this way
x = set()

In [8]:
# Add objects to it
x.add('a')
x.add(1)
print(x)

{1, 'a'}

In [9]:
# Now let's try to add the same object yet again. The result is the same!
x.add('a')
print(x)

{1, 'a'}

Sets **main use** is to obtain the **unique elements** of a list:

In [96]:
my_list = [1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6]

In [97]:
# We use the set() function to turn my_list into a set - this obliterates all repeated values
# Afterwards, we use the list() function to return the set into being a list
list_unique = list(set(my_list))

In [98]:
print(list_unique)

[1, 2, 3, 4, 5, 6]

#### **Useful List Methods**

As with strings, lists have many important methods to be reviewed. Many scripts that you will prepare on Python will depend on the use of lists, so it's a good idea to learn them by heart. It may not seem so, but knowing about them will ease your workflows down the line.

**append**

append is used to add an item to the list.

In [18]:
# Notice that the method does not return a variable! it adds it to the list permanently.
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

**pop**

pop is used to eliminate an element from a list. If no index is specifiied, it eliminates the last element from a list.

In [19]:
print(my_list)
popped_element = my_list.pop()
print(my_list)
print(popped_element)

[1, 2, 3, 4]
[1, 2, 3]
4

**sort**

sort is used to order the values in a list, be them strings or numbers.

In [23]:
my_list = [1, 5,6, 3, 4, 89, 2, 0.2, 4]
my_list.sort()
print(my_list)

[0.2, 1, 2, 3, 4, 4, 5, 6, 89]

In [24]:
my_list = ['a', 'z', 'm', 'p', 'b']
my_list.sort()
print(my_list)

['a', 'b', 'm', 'p', 'z']

We can also reverse the order of the list by means of using the **reverse** method:

In [25]:
my_list.reverse()
print(my_list)

['z', 'p', 'm', 'b', 'a']

**count**

count counts the number of occurrences of an element in a list

In [26]:
my_list = ['james', 'martha', 'clark', 'anna', 'peter', 'anna', 'zoe']
my_list.count('anna')

2

**extend**

extend works like append, but fusing the elements of an added iterable with the original list. Let's compare both:

In [31]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

mylist = list1
mylist.append(list2)

print(f"Append effect: {mylist}")

list1 = [1, 2, 3]
list2 = [4, 5, 6]

mylist = list1
mylist.extend(list2)

print(f"Extend effect: {mylist}")

Append effect: [1, 2, 3, [4, 5, 6]]
Extend effect: [1, 2, 3, 4, 5, 6]

**index**

index returns the index of where an element is placed. This is useful to extract or remove that very same element form the list!

In [34]:
my_list = ['james', 'martha', 'clark', 'anna', 'peter', 'anna', 'zoe']

print(my_list.index('clark'))

2

In [35]:
# for repeated values, it returns the first coincidence

print(my_list.index('anna'))

3

**Quick Exercise**

Turning the list of Presidents into an Uppercase list. Also, add the name of the current president Biden to it.

In [8]:
txt = "Some Presidents of the US consider obama, bush, clinton, reagan, fdr, kennedy."

In [108]:
name_lst = txt[txt.find('obama'):-1].split(', ')
name_lst

['obama', 'bush', 'clinton', 'reagan', 'fdr', 'kennedy']

In [109]:
name_lst.append('Biden')

In [110]:
name_lst

['obama', 'bush', 'clinton', 'reagan', 'fdr', 'kennedy', 'Biden']

In [112]:
[i.capitalize() for i in name_lst]

['Obama', 'Bush', 'Clinton', 'Reagan', 'Fdr', 'Kennedy', 'Biden']

### **01.3.5. <font color=#f2cc38> Tuples </font> in Python**

Tuples are like lists, but immutable. Meaning, their individual elements therein cannot be changed.

Despite it's useful to know about them, in many cases you will not find it essential to use tuples over lists. Immutability of their individual components is not that much of a deal in the day to day work of an analyst.

In [55]:
t = (2, 'hi', False)

In [56]:
print(t)

(2, 'hi', False)

In [57]:
t[0]

2

In [58]:
# We cannot change a tuple! If we try to do so, we'll trigger an error!
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [59]:
# We can, however, add other elements to it
t = t + (2, 4)
print(t)

(2, 'hi', False, 2, 4)

#### **Tuple and List Unpacking**

Tuples are important to be known about because they can also be defined without parentheses. A sequence of objects separated by commas is by default a tuple and not a list:

In [61]:
a = 1, 2, 3
type(a)

tuple

What is tuple or list **unpacking**? We can declare several variables at a time based on the results of a single list or tuple of values. For instance

In [63]:
t = 1, 2, 3
x, y, z = t
print(x)
print(y)
print(z)

1
2
3

This is a useful tool when dealing with functions, which we will be seeing in the following few content modules.

### **01.3.6. <font color=#f2cc38> Dictionaries </font> in Python**

Finally, dictionaries are Python objects that represent a mapping of information. As such, ditionaries rely on a set of **key**-**value** pairs i.e., to each key, a value (or a set of values) is assigned.

Let's see an example of it - how to construct a Python dictionary?


To see the usefulness of dictionaries, let's assume that we are a **new Glovo employee**, and that we have to fill out some information of our own.

In [65]:
new_employee_data = {'name': 'John', 'surname':'Smith', 'age': 27, 'companies_worked_for': ['PwC', 'Meta', 'Amazon', 'AuChamp'] }

In [66]:
# let's see it
print(new_employee_data)

{'name': 'John', 'surname': 'Smith', 'age': 27, 'companies_worked_for': ['PwC', 'Meta', 'Amazon', 'AuChamp']}

Now, the people manager can **easily access all fields** of information relevant to him by **indexing according to the key**:

In [67]:
new_employee_data['name']

'John'

If the name is wrong, we can **change** it, because a dictionary is mutable:

In [70]:
new_employee_data['name'] = 'James'

print(new_employee_data)

{'name': 'James', 'surname': 'Smith', 'age': 27, 'companies_worked_for': ['PwC', 'Meta', 'Amazon', 'AuChamp']}

And we can even add more keys, with information attached:

In [72]:
new_employee_data['address'] = 'C/ Àvila, 54'

print(new_employee_data)

{'name': 'James', 'surname': 'Smith', 'age': 27, 'companies_worked_for': ['PwC', 'Meta', 'Amazon', 'AuChamp'], 'address': 'C/ Àvila, 54'}

#### **Nesting Dictionaries**

We can nest several dictionaries together, so as to better index:

In [75]:
# We could easily build up a huge mapping of all departments with this structure
employees_at_glovo = {'growth':{'ID00001':{'name': 'John', 'surname':'Smith', 'age': 27, 'companies_worked_for': ['PwC', 'Meta', 'Amazon', 'AuChamp'] }}}

#### **Relevant Dictionary Methods**

We are going to overview how to extract all keys and values, as well as all key-value pairs as a list of tuples.

In [77]:
# this way, we can see all of our dictionary's 'main categories'
new_employee_data.keys()

dict_keys(['name', 'surname', 'age', 'companies_worked_for', 'address'])

In [78]:
new_employee_data.values()

dict_values(['James', 'Smith', 27, ['PwC', 'Meta', 'Amazon', 'AuChamp'], 'C/ Àvila, 54'])

In [79]:
# returns each key-value pair as a tuple
new_employee_data.items()

dict_items([('name', 'James'), ('surname', 'Smith'), ('age', 27), ('companies_worked_for', ['PwC', 'Meta', 'Amazon', 'AuChamp']), ('address', 'C/ Àvila, 54')])