# **03. Python Added Functionalities and Modules**

Welcome to our <font color=#f2cc38>**Third Content Block**</font> In the Python Introduction Module! 

Today we will be reinforcing core important Python functionalities, **basic** to Python code: **Conditional Statements**, **Loops** and **Functions**, plus we will be introducing added funcitonalities.

Specifically, these will be:
 - Added **useful operators**, like range, zip, min/max, in/not in.
 - We'll be introducing **Error and Exception handling** with **Try/Except**.
 - We'll be reviewing **List Comprehensions**.
 - We'll be reviewing added **Python Modules**:
     - random
     - datetime
     - math
     - regEx
     - time
 - We'll be doing a small introduction to **Object Oriented Programming**

## **03.1 Useful Operators**

We may have overseen several of them, but our main idea is to officially introduce them and review them yet again, while reinforcing core concepts.

### **range**
Useful function to get integer numbers between a range of values:

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
# For a specific interval
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [7]:
# A third number, in case we want to add spaced occurrences
for i in range(3, 20, 2):
    print(i)

3
5
7
9
11
13
15
17
19

### **zip**

Useful functions to convert two, three, four list in a list of tuples.

In [6]:
names = ['Janet','John', 'Sarah', 'Kevin', 'Jean', 'Scott']
ages = [45, 56, 7, 23, 4, 99]
nationality = ['American', 'Australian', 'English', 'Scottish', 'Irish', 'Kiwi']

In [2]:
# As they are lists with values thta concern a same person, we use ZIP in order to relate all three values.
people = list(zip(names, ages, nationality))

In [3]:
people

[('Janet', 45, 'American'),
 ('John', 56, 'Australian'),
 ('Sarah', 7, 'English'),
 ('Kevin', 23, 'Scottish'),
 ('Jean', 4, 'Irish'),
 ('Scott', 99, 'Kiwi')]

zip works like map and filter - zip itself is purely an **iterable** object, like enumerate is, so we need to use **list()** or iterate via a **loop** to get its values!

In [4]:
# Else, we obtain nothing, and it's not subscriptable either!
zip(names, ages, nationality)

When would we use it? Beneficial, for instance, in loops or **conditional statements** that have to do with other values than the ingested list:

In [11]:
people = list(zip(names, ages, nationality))

# Easier than having to go back to the original lists by means of indexing them with a counter index via enumerate!
new_list = []
for n, a, nat in people:
    if a > 45:
        new_list.append(n)
    else:
        pass

print(new_list)

['John', 'Scott']

### **in / not in**

We have not yet formally introduced, though we've seen, the **in / not in** operators. They work as in SQL and can be used for strings, lists, whatever sort of sequence of objects.

In [8]:
'Sarah' in names

True

In [9]:
'Fred' not in names

True

In [13]:
'orange' in 'orange and pears and apples and I also love bananas'

True

In [14]:
# Watch out! It's case sensitive!
'Orange' in 'orange and pears and apples and I also love bananas'

True

#### **Exercise 1**

We have 2 lists, of books and their authors. They match index to index. Zip them. 

Then, write a function that iterates through them and capitalizes all the words in both names and book names. 

Plus, we will insert some Data Quality into it, if the book is in the list of "corrected books", we'll substitute it by a correct book of the author, inside the function itself.

In [16]:
authors = ['nabokov', 'turgenev', 'sartre', 'shakespeare', 'morrison', 'smith', 'murakami', 'mishima', 'garcía márquez']
books = ['moby dick', 'fathers and sons', 'the nausea', 'the trial', 'beloved', 'to the lighthouse', "a wild sheep's chase", 'the golden pavilion', 'solaris']

wronged_authors = ['nabokov', 'shakespeare', 'smith', 'garcía márquez']
corrected_books = ['pale fire', 'the tempest', 'white teeth', '100 years of solitude']

**Solution**

In [20]:
mylist = list(zip(authors, books))

In [39]:
def my_func(mylist):
    new_list_authors = []
    new_list_books = []
    for a, b in mylist:
        new_name = []
        new_book = []
        for x in a.split():
            new_name.append(x.capitalize())
        for x in b.split():
            new_book.append(x.capitalize())
        new_list_authors.append(" ".join(new_name))
        new_list_books.append(" ".join(new_book))
    
    new_zip = list(zip(new_list_authors, new_list_books))
    
    for ind, i in enumerate(new_zip):
        if i[0].lower() in wronged_authors:
            new_zip[ind] = i[0], corrected_books[wronged_authors.index(i[0].lower())]
        else:
            pass
    
    return new_zip

In [40]:
my_func(mylist)

[('Nabokov', 'pale fire'),
 ('Turgenev', 'Fathers And Sons'),
 ('Sartre', 'The Nausea'),
 ('Shakespeare', 'the tempest'),
 ('Morrison', 'Beloved'),
 ('Smith', 'white teeth'),
 ('Murakami', "A Wild Sheep's Chase"),
 ('Mishima', 'The Golden Pavilion'),
 ('García Márquez', '100 years of solitude')]

### **min / max operators**

They are useful operators used to obtain the **minimum or maximum value** out of a sequence.

They can be used with numbers and strings, separatedly, **but not together**.

In [41]:
list_n = [1, 2, 3, 4, 5, 6, 7, 4, 5, 2]
list_s = ['tom', 'fred', 'kara', 'xi', 'xavier', 'donald']
list_h = [1, 2, 3, 4, 'a', 'b']

print(max(list_n))
print(max(list_s))
print(max(list_h))

7
xi

TypeError: '>' not supported between instances of 'str' and 'int'

For strings, watch out with **case sensitiveness**:

In [16]:
list_s = ['tom', 'fred', 'kara', 'xi', 'xavier', 'donald']
list_s2 = ['Tom', 'fred', 'kara', 'Xi', 'xavier', 'donald']

In [18]:
# Uppercase letters come first than lowercase ones!
print(max(list_s))
print(min(list_s))
print(max(list_s2))
print(min(list_s2))

xi
donald
xavier
Tom

## **03.2 Error and Exception Handling**

So far in this course, and ever in your Python experience, you must have gotten dozens and dozens of errors.

**Try/Except** are statements used to **avoid these errors**. It makes sense to use them if there are particular circumstances where an **error is expected**.

Let's first see how to use them:

In [43]:
# it does not print anything else!
l = ['john smith', 'martha stewart', 'elon musk', 4, 'jon rahm']

for i in l:
    print(i.split())

['john', 'smith']
['martha', 'stewart']
['elon', 'musk']

AttributeError: 'int' object has no attribute 'split'

In [46]:
# it does not print anything else!
l = ['john smith', 'martha stewart', 'elon musk', 4, 'jon rahm']

for i in l:
    try:
        print(i.split())
    except:
        print(f"This has triggered an error! {i}")

['john', 'smith']
['martha', 'stewart']
['elon', 'musk']
This has triggered an error! 4
['jon', 'rahm']

In [45]:
# A workaround without try/except:
l = ['john smith', 'martha stewart', 'elon musk', 4, 'jon rahm']

for i in l:
    if type(i) == str:
        print(i.split())
    else:
        pass

['john', 'smith']
['martha', 'stewart']
['elon', 'musk']
['jon', 'rahm']

However, a good idea if you're obtaining an error **is to see why you're obtaining it, instead of just avoiding it**.

That's because, when an expection gets triggered, it may be **more computationally expensive** to use ty/except rather than a corrected version of your code.

Plus, it is well possible that you might be **missing important errors** in your code by the use of these functions.

Try/except is for instance a good thing to use altogether with **input()**.

In [47]:
# let's define a function to multiply by 5 a number inputed by the user
def func1():
    while True:
        x = input('Please enter an integer number')
        try:
            n = int(x)
            print(f"Multiplied by 5: {n*5}")
            break
        except: 
            print('This is not an integer! Try again!!')

In [48]:
func1()

Please enter an integer number hello

This is not an integer! Try again!!

Please enter an integer number hello

This is not an integer! Try again!!

Please enter an integer number hello

This is not an integer! Try again!!

Please enter an integer number 1.5

This is not an integer! Try again!!

Please enter an integer number 3

Multiplied by 5: 15

#### **Exercise 2**

Create a function that intakes the name of a particular Book author. Make it so that:
 - If the inputed value is not a string, the function prints: "Not even a string! Do try again!!"
 - If the inputed value is a string, but not in the author list we had before, it prints: "Not a valid author!"
And it makes the person input an author of the previous list, and till then it does not stop.
Once the author has been inputed, do return it capitalized.

**Solution**

In [54]:
def myfunc():
    while True:
        x = input("Enter author")
        if type(x) != str:
            print("Not even a string! Do try again!!")
            continue
        elif type(x) == str and x not in authors:
            print("Not a valid author! Enter a value for the 'authors' list")
            continue
        else:
            return x.title()

In [55]:
myfunc()

Enter author 3

Not a valid author! Enter a value for the 'authors' list

Enter author a

Not a valid author! Enter a value for the 'authors' list

Enter author nabokov

'Nabokov'

## **03.3. List Comprehensions**

List comprehensions are an easy way to do an iteration of the elements of a list, if the transformation done is simple, in a **one liner**. Let's see an example of that:

In [13]:
l = [1, 4, 6, 8, 12, 45, 6, 78, 0, 23]

In [14]:
[i**2 for i in l]

[1, 16, 36, 64, 144, 2025, 36, 6084, 0, 529]

We can also introduce **if/elses** in it:

In [16]:
[i**2 if i > 2 else 'not allowed' for i in l]

['not allowed', 16, 36, 64, 144, 2025, 36, 6084, 'not allowed', 529]

#### **Exercise 3**

Use a list comprehension to obtain the squared value + 1 of each element in the list.

This also could have been done in different ways! Replicate the result by using a traditional for loop, and by using the map function + a lambda function.

In [57]:
list_num = [1, 2, 3, 4, 5, 6, 7, 8, 9]

**Solution**

In [58]:
[i**2 + 1 for i in list_num]

[2, 5, 10, 17, 26, 37, 50, 65, 82]

In [59]:
new_list = []
for i in list_num:
    new_list.append(i**2 + 1)

new_list

[2, 5, 10, 17, 26, 37, 50, 65, 82]

In [60]:
list(map(lambda x: x**2 + 1, list_num))

[2, 5, 10, 17, 26, 37, 50, 65, 82]

## **03.4. Added Modules and Packages**

In the present section, we will see some added Python **modules** i.e., additional code functionalities that need to be **imported** to be used on top of the base Python packages. All those that we willl be overviewing are quite basic, though they present interesting functionalities.

### **random**
The random module allows us to create "random" numbers. At our level of understanding, they are indeed random numbers.

The generation of a random number can be linked and restricted to what is called a **seed** to ensure the reproducibility of results. This is a pseudo-important concept at the time of dealing with Machine Learning problems.

Let's see what we mean by random, seed, and how to use them:

In [17]:
# these are added modules, so we have to import them
import random

In [69]:
# each time you execute it, a new number appears
random.randint(30, 400)

160

In [66]:
random.randint(30, 400)

185

To get reproducible results, we can se a particular **seed** to it i.e., an **arbitrary number** that will ensure **reproducible** values in a same cycle of repetition.

In [22]:
random.seed(42)
print(random.randint(0, 100))
print(random.randint(0, 100))
print(random.randint(0, 100))
print("Let's reset the seed yet again, and you see how we obtain the same reslts as before")
random.seed(42)
print(random.randint(0, 100))
print(random.randint(0, 100))
print(random.randint(0, 100))
print(random.randint(0, 100))

81
14
3
Let's reset the seed yet again, and you see how we obtain the same reslts as before
81
14
3
94

random can also be used, altogether with **lists** to **get** values or **reorder** them.

In [71]:
fruits = ['apple', 'figue', 'grapefruit', 'grapes', 'pineapple', 'mango', 'blueberries']

In [75]:
# What am I going to eat now?
random.choice(fruits)

'grapes'

In [29]:
# we can also reorder them to get a different order than we had before:
random.shuffle(fruits)
fruits

['mango', 'figue', 'blueberries', 'grapes', 'apple', 'pineapple', 'grapefruit']

In [30]:
random.shuffle(fruits)
fruits

['blueberries', 'figue', 'mango', 'grapes', 'apple', 'grapefruit', 'pineapple']

### **math**

Math is the Python package used for most things amt that you will need. Let's see some of its functions.

In [35]:
import math

In [39]:
x = 22.34

In [40]:
# native to Py, not in math
round(x)

22

In [42]:
math.floor(x)

22

In [43]:
math.ceil(x)

23

In [44]:
math.pi

3.141592653589793

Also other functions include **logarithms**, **sin, cos, tan**, degrees, radians and others.

### **datetime**

The datetime module is your go-to module each time you have to deal with **timestamps**. Let's see some of its functions.

With **times**:

In [76]:
from datetime import time

In [77]:
t = time(16, 30, 15)
print(t)

16:30:15

In [50]:
# let's break it down:
print(type(t))
print(t.hour)
print(t.minute)
print(t.second)

<class 'datetime.time'>
16
30
15

With **dates**:

In [78]:
from datetime import date

In [79]:
today = date.today()
print(today)

2023-10-11

In [54]:
print(today.ctime())
print(today.year)
print(today.month)
print(today.day)

Thu Oct  5 00:00:00 2023
2023
10
5

In [57]:
d = date(2023, 9, 15)
print(d)

2023-09-15

In [59]:
d = d.replace(year = 2021, day = 24)
print(d)

2021-09-24

With **datetimes**

In [80]:
from datetime import datetime

In [81]:
d = datetime.today()
print(d)

2023-10-11 10:13:25.754426

In [82]:
print(d.year)
print(d.day)
print(d.minute)

2023
11
13

Performing **timedeltas** with our dates and datetimes

In [83]:
t1 = datetime(year = 1963, month = 4, day = 7, hour = 7, minute = 9, second = 10)
t2 = datetime(year = 1970, month = 9, day = 10, hour = 4, minute = 55, second = 13)
duration = t2-t1

In [86]:
duration

datetime.timedelta(days=2712, seconds=78363)

In [70]:
t1 = datetime(year = 1963, month = 4, day = 7)
t2 = datetime(year = 1970, month = 9, day = 10)
print(t2-t1)

2713 days, 0:00:00

Both are **timedelta** objects, meaning we can teanslate their values into whatever kind of time unit:

In [73]:
# we always get them in seconds
duration.total_seconds()

234395163.0

In [88]:
# from now, we can calculate whatever by means of diiding:
duration.total_seconds()//(3600*24) # hours

2712.0

### **regEx**

regex stands for Regular Expressions, and it's the Python way of being able to search a match of a string to a specific text pattern

In [89]:
import re

In [90]:
s = 'I like oranges and apples and figues and grapes'

In [91]:
# let's define a pattern to find
# so far we keep it as easy as that
pattern = 'apple'

In [92]:
re.search(pattern, s)

In [85]:
# no match obtained!
re.search(pattern, 'I just like oranges')

In [87]:
# if captured in a variable, the absence of value, it will return a None
x = re.search(pattern, 'I just like oranges')
print(x)

None

Let's see how to obtain important information from our match:

In [88]:
m = re.search(pattern, s)

In [89]:
m.start()

19

In [90]:
m.end()

24

In [91]:
m.span()

(19, 24)

If we have **more than one** occurrence:

In [92]:
s2 = 'I like apples and oranges and apples and figues and apples and bananas'

In [94]:
# this just gets a list of the occurrences
ms = re.findall(pattern, s2)
ms

['apple', 'apple', 'apple']

In [96]:
# to get the exact matches, let's do an iteration of them:
# we get whereall of them are located at
for m in re.finditer(pattern, s2):
    print(m)

<re.Match object; span=(7, 12), match='apple'>
<re.Match object; span=(30, 35), match='apple'>
<re.Match object; span=(52, 57), match='apple'>

#### **Using RegEx with Patterns**

Not only specific strings like before, but broader patterns to **capture** more occurrences instances can also be considered. For instance:
 - \d stands for digits
 - \w stands for alphanumeric characters
 - \s stands for white spaces
 - \D for non-digits
 - \W for non-alphanumeric
 - \S for non-whitespaces
 - | is an or operator
 - . stands for whatever character
 - $ stands for end with
 - ^ stands for begins with
 - a plus sign (+) stands for occurs one or more times
 - {number} stands for occurs a specific number of times
 - {number,} stands for occurs a number, or more, of times
 - \* stands for occurs zero or more times
 - ? stands for occurs once or none

In [98]:
# important the inclusion of the r in front of the string!
pattern = r'orange|apple'

for m in re.finditer(pattern, s2):
    print(m)

<re.Match object; span=(7, 12), match='apple'>
<re.Match object; span=(18, 24), match='orange'>
<re.Match object; span=(30, 35), match='apple'>
<re.Match object; span=(52, 57), match='apple'>

In [98]:
# important the inclusion of the r in front of the string!
s = 'I have 5 cars and 6 houses and 10 pens'

pattern = r'\d+\s\w+'

for m in re.finditer(pattern, s):
    print(m)

<re.Match object; span=(7, 13), match='5 cars'>
<re.Match object; span=(18, 26), match='6 houses'>
<re.Match object; span=(31, 38), match='10 pens'>

You can play around and see what sorts of matches you can make!

## **03.5. Introduction to Object Oriented Programming (OOP)**

In the beginning of the course, we covered how Python relied partly on objects, not only in functions, to allow for additional functionalities.

We learnt about the difference among functions, and **methods** ans also the existence of attributes.

Let's have a quick reminder of that:

In [2]:
# this is a function
len('hello world')

11

In [4]:
# this is a method
'hello world'.split()

['hello', 'world']

It's easy to see the difference among a **function** and an object's **method**: while a function is an action that exists independently of a variable, and intakes it as an argument, a method is an action that always exists **coupled** to the variable itself.

The same way that Python presented natively-coded functions, like len or print, and also the ability to custom code them, it also provides the possibility of **coding our own objects**.

That is what **Objected Oriented Programming** means, using custom-programmed objects as the core fundamental structure of our code, instead of just using a sequence of predefined functions and variables that are independent from each other, as it is done in **Procedural Coding**.

What are the advantages of OOP? Because of the allowed coupling among actions and variables, it reduces the complexity of your overall code - for instance, as code becomes complex, we will not need to ingest several variables each time we have to run a function, we cna just simply call a method. Also, it allows for the inheritance of code through different objects - while using functions, we may have to reuse several instances of code that feel reusable and familiar. In OOP, we can just code a base Object, and create several more specific Objects from this one, without complicated structures, too much nesting, etc. Also, another of the advantages of OOP is that it reduces the impact of change in code. While using functions, a minor change to its structure can trigger errors in several points of the coding execution sequence. Instead, OOP tends to avert that better.

**Let's see some examples of it**

In [6]:
# class is the keyword used to declare an object, like "def" for functions
class Fruit:
    pass

Now, we have declared a particular class, but we have no intsances of it. Let's see how to declare one variable of the **class 'Fruit'**

In [7]:
x = Fruit()

In [8]:
type(x)

__main__.Fruit

In [9]:
type([1, 2, 3])

list

Our 'Fruit' class is completely empty. Let's input to it some **attributes and methods**

#### **Attributes in Objects**

In [99]:
# Attributes can be specified as an input on the user's side
class Fruit:
    def __init__(self, name):
        self.name = 'fruit: ' + name

fruit1 = Fruit(name = 'orange')

fruit1.name

'fruit: orange'

In [100]:
# Attributes can be also coded to be a result from a value inputted from the user, not necessarily directly such a value
class Fruit:
    def __init__(self, name):
        self.name = name
        if name in ['orange', 'lemon', 'lime', 'kiwi']:
            self.fruit_class = 'citrus' 
        else:
            self.fruit_class = 'other'
            
fruit2 = Fruit(name = 'lime')
print(fruit2.name)
print(fruit2.fruit_class)

lime
citrus

In [101]:
# Attributes can also be fixed values defined by us
class Fruit:
    def __init__(self, name):
        self.name = name
        if name in ['orange', 'lemon', 'lime', 'kiwi']:
            self.fruit_class = 'citrus' 
        elif 'berry' in name:
            self.fruit_class = 'berry'
        else:
            self.fruit_class = 'other'
        # Fruit is always going to be delicious
        self.tastiness = 'delicious'
            
fruit2 = Fruit(name = 'banana')
print(fruit2.name)
print(fruit2.fruit_class)
print(fruit2.tastiness)

banana
other
delicious

#### **Methods in Objects**

In [23]:
# Attributes can also be fixed values defined by us
class Fruit:
    def __init__(self, name):
        self.name = name
        if name in ['orange', 'lemon', 'lime', 'kiwi']:
            self.fruit_class = 'citrus' 
        elif 'berry' in name:
            self.fruit_class = 'berry'
        else:
            self.fruit_class = 'other'
        
        self.tastiness = 'delicious'
    
    def capitalize_fruit(self):
        return self.name.capitalize()
    
    def change_fruit(self, new_fruit):
        org_fruit = self.name
        self.name = new_fruit
        return f'Fruit has been changed from {org_fruit} to {self.name}'
            
fruit2 = Fruit(name = 'strawberry')
print(fruit2.name)
print(fruit2.fruit_class)
print(fruit2.tastiness)

strawberry
berry
delicious

In [24]:
fruit2.capitalize_fruit()

'Strawberry'

In [26]:
fruit2.change_fruit('lime')

'Fruit has been changed from strawberry to lime'

In [28]:
print(fruit2.name)
print(fruit2.fruit_class)

lime
berry

We are obtaining **berry**!!! Why? Because we defined the 'fruit_class' method wth name, not with self.name, and this hasn't changed!

In [49]:
# Attributes can also be fixed values defined by us
class Fruit:
    def __init__(self, name):
        self.name = name
        if self.name in ['orange', 'lemon', 'lime', 'kiwi']:
            self.fruit_class = 'citrus' 
        elif 'berry' in self.name:
            self.fruit_class = 'berry'
        else:
            self.fruit_class = 'other'
        
        self.tastiness = 'delicious'
    
    def capitalize_fruit(self):
        return self.name.capitalize()
    
    def change_fruit(self, new_fruit):
        org_fruit = self.name
        self.name = new_fruit
        return f'Fruit has been changed from {org_fruit} to {self.name}'

In [50]:
fruit = Fruit('blueberry')
print(fruit.name, fruit.fruit_class)

blueberry berry

In [51]:
fruit.change_fruit('banana')

'Fruit has been changed from blueberry to banana'

In [52]:
print(fruit.name, fruit.fruit_class)

banana berry

No changes! That's the reason why it's wise to **render fruit_class a method in these circumstances**

In [63]:
# Attributes can also be fixed values defined by us
class Fruit:
    def __init__(self, name):
        self.name = name      
        self.tastiness = 'delicious'
        self.set_fruit_class()
    
    def set_fruit_class(self):
        if self.name in ['orange', 'lemon', 'lime', 'kiwi']:
            self.fruit_class = 'citrus' 
        elif 'berry' in self.name:
            self.fruit_class = 'berry'
        else:
            self.fruit_class = 'other'
    
    def capitalize_fruit(self):
        return self.name.capitalize()
    
    def change_fruit(self, new_fruit):
        org_fruit = self.name
        self.name = new_fruit
        self.set_fruit_class() # we execute our defined method internally so that our fruit class is reset!
        return f'Fruit has been changed from {org_fruit} to {self.name}'

In [64]:
fruit = Fruit('blueberry')
print(fruit.name, fruit.fruit_class)

blueberry berry

In [65]:
fruit.change_fruit('banana')

'Fruit has been changed from blueberry to banana'

In [66]:
print(fruit.name, fruit.fruit_class)

banana other

### **Additional Exercises**

#### **Exercise 4**

Create a function that intakes a list of cities, iterates through them, and returns the capialized list of cities, has taken out British cities, and that has replaced Japanese cities by the sentence "City in Japan!":

In [103]:
cities = ["Calgary", "Paris", "Vancouver", "Tokyo", "Bath", "Osaka", "Madrid", "Warsaw", "Bucarest", "Glasgow"]
japanese_cities = ["Tokyo", "Sapporo", "Osaka", "Nara", "Kyoto", "Hiroshima"]
uk_cities = ["London", "Bath", "Glasgow", "Manchester", "Liverpool", "Blackpool"]

In [107]:
def myfunc(list):
    new_lst = [i.capitalize() for i in cities]
    new_new_list = []
    for i in new_lst:
        if i in japanese_cities:
            new_new_list.append('City in Japan!')
        elif i in uk_cities:
            pass
        else:
            new_new_list.append(i)
    return new_new_list

myfunc(cities)

['Calgary',
 'Paris',
 'Vancouver',
 'City in Japan!',
 'City in Japan!',
 'Madrid',
 'Warsaw',
 'Bucarest']