# **03. Practice: Python Added Functionalities and Modules**

## **Homework Assignments / Coaching Session Doubts and Practice**

### **Exercise 1**

We have a list of movies, a list of directors, and a list of nationalities of these directors.

Write a function that returns a single list of tuples relating all three lists, index per index.

Plus,  the function returns all names capitalized, if the director is Italian, the respective movie, director, nationality tuple shoud be excluded from the resulting list. 

Plus, there are some movies that have been assigned to the wrong director. Correct them by using the "corrected" list.

In [2]:
films = ['the shining', 'north by northwest', 'la chinoise', 'as bestas', 'the rope', 'la dolce vita', 'la grande bellezza']
directors = ['kubrick', 'hitchcock', 'goddard', 'sorogoyen', 'nolan', 'fellini', 'sorrentino']
nationality = ['american', 'british', 'french', 'spanish', 'british', 'italian', 'italian']

corrected_films = [('the rope', 'hitchcock'), ('vertigo', 'hitchcock'), ('raging bull', 'scorsese')]

**Solution**

In [15]:
def my_func(l_f, l_d, l_n):
    zipped = list(zip(l_f, l_d, l_n))
    new_list = []
    for f, d, n in zipped:
        
        # list comprehension to generate a list of films from the tuple list in corrected_films
        if f in [t[0] for t in corrected_films]:
            ind = [t[0] for t in corrected_films].index(f)
            d = [t[1] for t in corrected_films][ind].capitalize()
        
        f = f.title()
        d = d.capitalize()
        n = n.capitalize()
        
        # second if to append if it's not an italian director
        if n != 'Italian':
            new_list.append((f, d, n))
    
    return new_list

In [16]:
my_func(films, directors, nationality)

[('The Shining', 'Kubrick', 'American'),
 ('North By Northwest', 'Hitchcock', 'British'),
 ('La Chinoise', 'Goddard', 'French'),
 ('As Bestas', 'Sorogoyen', 'Spanish'),
 ('The Rope', 'Hitchcock', 'British')]

### **Exercise 2**

Create a function that, when launched, it asks the user to input an even integer number, checks if it's an integer number, and if it's not an integer, it returns the sentence 'Not an integer number, try again', and it prompts the user for an input value yet again.

If it's an integer number, it checks if it's even, and if it's not it returns to the user 'An integer, but not even, try again', and it prompts the user for an input value yet again.

If it's an even integer number, it returns the value multiplied by 4.

**Solution**

In [24]:
def my_func():
    while True:
        x = input('Please, enter an even number')
        try:
            int(x)
        except:
            print('This is not even an integer, try again!')
            continue
        
        if int(x)%2 == 0:
            return int(x)*4
        else:
            print('An integer, but not even, please try again')

In [25]:
my_func()

Please, enter an even number 4

16

### **Exercise 3**

We have a list of items, both strings and numbers. Define a function that returns the Upper version of the string objects in the list, and that drops all other items that are not strings. 

Use exception handling to do so.

Also, define a second function that does the same, but instead of dropping all non-string objects, it just includes them in the list without no change whatsoever.

In [51]:
my_list = ['orange', 'drum', 45, ['a', 'b', 'c'], 'melon', 66, 'new york', 'subway', 77]

**Solution**

In [53]:
def func1(my_list):
    new_list = []
    for ind, i in enumerate(my_list):
        try:
            new_list.append(i.upper())
        except:
            pass
    return new_list

In [54]:
func1(my_list)

['ORANGE', 'DRUM', 'MELON', 'NEW YORK', 'SUBWAY']

### **Exercise 4**

Use a list comprehension to, for each string in the list, just get the first and third words in a string altogether.

For instance 'John WORTODROP Smith' has to be converted into 'John Smith'.

Use a **list comprehension** to do so.

Then, do it in a traditional for loop, as well as by using the combination of a lambda function and the map function.

In [57]:
my_list = ['John DISREGARDTHIS Smith', 'Virginia FILLER Woolf', 'Anne AAA Miller', 'James BBBB Buchanan', 'Sophie ZZZZZZ Smith']

**Solution**

In [58]:
[i.split()[0] + " " + i.split()[2] for i in my_list]

['John Smith',
 'Virginia Woolf',
 'Anne Miller',
 'James Buchanan',
 'Sophie Smith']

In [59]:
list(map(lambda i: i.split()[0] + " " + i.split()[2], my_list))

['John Smith',
 'Virginia Woolf',
 'Anne Miller',
 'James Buchanan',
 'Sophie Smith']

### **Exercise 5**

Generate two random datetimes (**clue**: you can use the randint function to generate each one of the components of each datetime).

You may code a function to do one, to ensure reproducibility among the two.

Then, code a second function that inputs the two datetimes, and returns its difference in hours.


**Solution**

In [61]:
from datetime import datetime
import random

In [89]:
def create_datetimes():
    random_list = []
    for i in range(6):
        if i == 1:
            random_list.append(random.randint(1, 12))
        elif i == 2:
            random_list.append(random.randint(1, 30))
        elif i == 3:
            random_list.append(random.randint(0, 23))
        else:
            random_list.append(random.randint(1, 60))  
    rl = random_list
    dt = datetime(year = rl[0] + 1960, month = rl[1], day = rl[2], hour = rl[3], minute = rl[4], second = rl[5])
    return dt

In [90]:
dt1 = create_datetimes()

In [91]:
dt2 = create_datetimes()

In [97]:
print(dt1, dt2)

1987-06-06 20:12:53 1991-05-30 12:34:55

In [95]:
def diff(dt1, dt2):
    td = max([dt1, dt2]) - min([dt1, dt2])
    return td.total_seconds()//3600

In [96]:
diff(dt1, dt2)

34888.0

### **Exercise 6**

Found which strings answer to the following patterns in the following texts:

1. Detect all fruits the kids like.

(you should find 'an apple', 'an orange', 'a banana' in the text).

In [98]:
txt1 = 'Sammy enjoys having a banana, an apple, an orange, and some figues, Danny enjoys having breakfast with a pineapple, an apple, a pear or some grapes.'

2. Detect all phone numbers in the message:

In [99]:
txt2 = 'I called 932-014-675, then 902-345-671, then I also considered calling 789-345-124, but I finally called 765-432-843, and that was it.'

3. Detect all president names in the text:

In [100]:
txt3 = 'Some presidents of the USA include Obama, Biden, Bush, Clinton, also Trump. Some others also include FDR, Taft, Nixon, Ford.'

**Solution**

In [101]:
import re

In [108]:
pattern1 = r'(\sa\w?|some)\s\w+'

for m in re.finditer(pattern1, txt1):
    print(m)

<re.Match object; span=(19, 28), match=' a banana'>
<re.Match object; span=(29, 38), match=' an apple'>
<re.Match object; span=(39, 49), match=' an orange'>
<re.Match object; span=(55, 66), match='some figues'>
<re.Match object; span=(102, 114), match=' a pineapple'>
<re.Match object; span=(115, 124), match=' an apple'>
<re.Match object; span=(125, 132), match=' a pear'>
<re.Match object; span=(136, 147), match='some grapes'>

In [110]:
pattern2 = r'\d\d\d-\d\d\d-\d\d\d'

for m in re.finditer(pattern2, txt2):
    print(m)

<re.Match object; span=(9, 20), match='932-014-675'>
<re.Match object; span=(27, 38), match='902-345-671'>
<re.Match object; span=(71, 82), match='789-345-124'>
<re.Match object; span=(105, 116), match='765-432-843'>

In [115]:
pattern3 = r'\s([A-Z][a-z]+|FDR)'

for m in re.finditer(pattern3, txt3):
    print(m)

<re.Match object; span=(34, 40), match=' Obama'>
<re.Match object; span=(41, 47), match=' Biden'>
<re.Match object; span=(48, 53), match=' Bush'>
<re.Match object; span=(54, 62), match=' Clinton'>
<re.Match object; span=(68, 74), match=' Trump'>
<re.Match object; span=(75, 80), match=' Some'>
<re.Match object; span=(100, 104), match=' FDR'>
<re.Match object; span=(105, 110), match=' Taft'>
<re.Match object; span=(111, 117), match=' Nixon'>
<re.Match object; span=(118, 123), match=' Ford'>

### **Exercise 7**

Create a new object class called "Operator" that intakes a specific numeric value (attribute called value) and that has three different methods:
 - A first method returns the squared value + 5 of the number, method .square_me().
 - A second method that allows for changing the inputed value, i.e. method .change_value()
 - A third method that intakes a second number and calculates the multiplication of the two, i.e., method multiply_me()

Then create an object from this class and demonstrate that the three methods, and the attribute, work as expected

**Solution**

In [116]:
class Operator():
    def __init__(self, number):
        self.value = number
        
    def square_me(self):
        return self.value**2 + 5
    def change_value(self, number2):
        self.value = number2
        print(f'Changed value to {number2}')
    def multiply_me(self, number3):
        return self.value*number3

In [118]:
x = Operator(number = 5)

In [119]:
x.value

5

In [120]:
x.square_me()

30

In [121]:
x.change_value(2)

Changed value to 2

In [123]:
x.value

2

In [125]:
x.square_me()

9

In [126]:
x.multiply_me(5)

10