# **01. Practice: Introduction to Python and Python Data Types**

## **Homework Assignments / Coaching Session Doubts and Practice**

### **Exercise 1**

Generate a variable y, which value equals to x to the power of 3, plus 5. Obtain the product of its division, its floored division, and the residue of it.

Print a text specifying each of the variables names and values.

In [6]:
x = 4

Expected result:

In [16]:
y = x**3 +

Division: 17.25
Floored Division: 17
Residue: 1

### **Exercise 2**

A company wants a unique list of employees. However, there has been an accident. One of its employees names has been copied many times (see variable), and they want that sorted out.

Find a way to reduce this employee's name back to just one repetition yet again, **without using string indexing**.

(Hint: you may want to try your way with other Python objects apart from strings!)

In [2]:
employee = 'bruce '
multiple_employees = employee * 8000

In [3]:
multiple_employees[:41]

'bruce bruce bruce bruce bruce bruce bruce'

Find a way to stop this madness!

Expected result:

'bruce'

### **Exercise 3**

List 1 and List 2 should be equal. However, when matching element per element, we find that they are not equivalent.

Prove that they are not equivalent, sort this out (however, you **cannot type** the correct strings by hand), and prove that after sorting it out they are equivalent again.

Print all three results (a list seeing how they don't all match, both corrected lists, and the new list proving all elements from both lists are equivalent index to index) at a time.

In [46]:
list1 = ['Apple', 'banana ', 'ORANGE']
list2 = ['apple', 'Banana', 'orange ']

They are not equivalent: [False, False, False]
New List 1: ['apple', 'banana', 'orange'], New List 2: ['apple', 'banana', 'orange']
Now they are equivalent: [True, True, True]

### **Exercise 4**

Strings 1 and 2 include food types. However, they should be lists and not have repeated values.

Prepare lists of non repeated values from said strings.

Then, find the index with a built-in list method of the string 'Sushi' in each of the lists, and prove that 'Sushi' from all three lists are equivalent.

In [48]:
str1 = "Mexican, Thai, American, Burger, Breakfast, Italian, Pizza, Sushi, Georgian, Mediterranian, Traditional, Empanadas"
str2 = "Burger, Tacos, Thai, American, Breakfast, Chinese, Georgian, Pizza, Traditional, Sushi, Mediterranian, Empanadas"

Expected result:

True

### **Exercise 5**

A travelling agency has all information considering trips to be made overseas stored in many different places. They want to centralize everything in a dictionary. 

Create a dictionary which, for every country, presents the cities to visit, the price of the trip and its length.

In [46]:
cities_japan = ['Tokyo', 'Osaka', 'Nara', 'Kyoto', 'Hiroshima']
cities_austria = ['Vienna', 'Graz', 'Innsbruck']
cities_uk = ['London', 'Bath', 'Edinburgh', 'Dundee', 'Glasgow']
cities_france = ['Nantes', 'Paris', 'Lyon', 'Marseille', 'Tolouse', 'Bourdeaux']
price_japan = 4000
price_austria = 1500
price_uk = 2000
price_france = 2000
length_japan = '22 days'
length_austria = '8 days'
length_uk = '15 days'
length_france = '20 days'

Expected result:

In [48]:
d

{'Japan': {'cities': ['Tokyo', 'Osaka', 'Nara', 'Kyoto', 'Hiroshima'],
  'price': 4000,
  'length': '22 days'},
 'Austria': {'cities': ['Vienna', 'Graz', 'Innsbruck'],
  'price': 1500,
  'length': '8 days'},
 'UK': {'cities': ['London', 'Bath', 'Edinburgh', 'Dundee', 'Glasgow'],
  'price': 2000,
  'length': '15 days'},
 'France': {'cities': ['Nantes',
   'Paris',
   'Lyon',
   'Marseille',
   'Tolouse',
   'Bourdeaux'],
  'price': 2000,
  'length': '20 days'}}

Now, after generating the dictionary, we have realized that there's some incorrect data. Make the following modifications:

1. During our Japanese visit, we will also be visiting Sapporo.
2. During our French visit, we won't be visiting Marseille. However, we will be adding Rennes and Reims to our tour.
3. All lists of cities need to be ordered alphabetically.
4. All lengths should be numerical instead of strings, in days. Therefore, instead of '10 days', we want just 10.

Expected result:

In [51]:
d

{'Japan': {'cities': ['Hiroshima',
   'Kyoto',
   'Nara',
   'Osaka',
   'Sapporo',
   'Tokyo'],
  'price': 4000,
  'length': 22},
 'Austria': {'cities': ['Graz', 'Innsbruck', 'Vienna'],
  'price': 1500,
  'length': 8},
 'UK': {'cities': ['Bath', 'Dundee', 'Edinburgh', 'Glasgow', 'London'],
  'price': 2000,
  'length': 15},
 'France': {'cities': ['Bourdeaux',
   'Lyon',
   'Nantes',
   'Paris',
   'Reims',
   'Rennes',
   'Tolouse'],
  'price': 2000,
  'length': 20}}