# **03. Practice: Python Added Functionalities and Modules**

## **Homework Assignments / Coaching Session Doubts and Practice**

### **Exercise 1**

We have a list of movies, a list of directors, and a list of nationalities of these directors.

Write a function that returns a single list of tuples relating all three lists, index per index.

Plus,  the function returns all names capitalized, if the director is Italian, the respective movie, director, nationality tuple shoud be excluded from the resulting list. 

Plus, there are some movies that have been assigned to the wrong director. Correct them by using the "corrected" list.

In [ ]:
films = ['the shining', 'north by northwest', 'la chinoise', 'as bestas', 'the rope', 'la dolce vita', 'la grande bellezza']
directors = ['kubrick', 'hitchcock', 'goddard', 'sorogoyen', 'nolan', 'fellini', 'sorrentino']
nationality = ['american', 'british', 'french', 'spanish', 'british', 'italian', 'italian']

corrected_films = [('the rope', 'hitchcock'), ('vertigo', 'hitchcock'), ('raging bull', 'scorsese')]

**Solution**

### **Exercise 2**

Create a function that, when launched, it asks the user to input an even integer number, checks if it's an integer number, and if it's not an integer, it returns the sentence 'Not an integer number, try again', and it prompts the user for an input value yet again.

If it's an integer number, it checks if it's even, and if it's not it returns to the user 'An integer, but not even, try again', and it prompts the user for an input value yet again.

If it's an even integer number, it returns the value multiplied by 4.

**Solution**

### **Exercise 3**

We have a list of items, both strings and numbers. Define a function that returns the Upper version of the string objects in the list, and that drops all other items that are not strings. 

Use exception handling to do so.

Also, define a second function that does the same, but instead of dropping all non-string objects, it just includes them in the list without no change whatsoever.

In [1]:
my_list = ['orange', 'drum', 45, ['a', 'b', 'c'], 'melon', 66, 'new york', 'subway', 77]

**Solution**

### **Exercise 4**

Use a list comprehension to, for each string in the list, just get the first and third words in a string altogether.

For instance 'John WORTODROP Smith' has to be converted into 'John Smith'.

Use a **list comprehension** to do so.

Then, do it in a traditional for loop, as well as by using the combination of a lambda function and the map function.

In [ ]:
my_list = ['John DISREGARDTHIS Smith', 'Virginia FILLER Woolf', 'Anne AAA Miller', 'James BBBB Buchanan', 'Sophie ZZZZZZ Smith']

**Solution**

### **Exercise 5**

Generate two random datetimes (**clue**: you can use the randint function to generate each one of the components of each datetime).

You may code a function to do one, to ensure reproducibility among the two.

Then, code a second function that inputs the two datetimes, and returns its difference in hours.


**Solution**

### **Exercise 6**

Found which strings answer to the following patterns in the following texts:

1. Detect all fruits the kids like.

(you should find 'an apple', 'an orange', 'a banana' in the text).

In [2]:
txt = 'Sammy enjoys having a banana, an apple, an orange, and some figues, Danny enjoys having breakfast with a pineapple, an apple, a pear or some grapes.'

2. Detect all phone numbers in the message:

In [3]:
txt = 'I called 932-014-675, then 902-345-671, then I also considered calling 789-345-124, but I finally called 765-432-843, and that was it.'

3. Detect all president names in the text:

In [4]:
txt = 'Some presidents of the USA include Obama, Biden, Bush, Clinton, also Trump. Some others also include FDR, Taft, Nixon, Ford.'

**Solution**

### **Exercise 7**

Create a new object class called "Operator" that intakes a specific numeric value (attribute called value) and that has three different methods:
 - A first method returns the squared value + 5 of the number, method .square_me().
 - A second method that allows for changing the inputed value, i.e. method .change_value()
 - A third method that intakes a second number and calculates the multiplication of the two, i.e., method multiply_me()

Then create an object from this class and demonstrate that the three methods, and the attribute, work as expected

**Solution**