# **02. Practice: Conditional Statements, Loops and Functions**

## **Homework Assignments / Coaching Session Doubts and Practice**

### **Exercise 1**

From the following list of countries, create a conditional statement that:
 - For those countries with two or more words, it prints out 'Two Word Country!'
 - For those countries beginning either with 'N', 'D' or 'F', as long as it's not France, it prints out 'Nordic Country!'
 - For those countries beginning with 'Fr', 'Sp' or 'Gr' it prints out 'Delicious Wines!'
 - For Burkina Faso, does nothing but printing 'Burkina Faso!'
 - For the rest of countries, it does nothing.
 
Make one of the countries pass the conditional loop to see that all conditions are met.

In [ ]:
list_of_countries = ['Sri Lanka', 'Central African Republic', 'Norway', 'Denmark', 'France', 'Philipines', 'Spain', 'Greece', 'West Sahara', 'Burkina Faso', 'Finland']

**Solution**

### **Exercise 2**

Considering the same list as before, we want to add to it a list of additional countries (see list 2).

Use the Conditional statement written in the previous exercise so as to apply it to the overall list, instead of printing the specified statements, you'll use them to substitue the original elements in the list.

Print the result.

For instance, an expected result would be:

In: ['France', 'Norway', 'Philipines']
Out:['Delicious Wines!', 'Nordic Country!', 'Philipines']

In [3]:
list_countries_2 = ['China', 'South Korea', 'Iran', 'Chile', 'South Africa', 'Mexico']

**Solution**

### **Exercise 3**

We have a list of tuples, with known politicians in the first position of the tuple, and with their respective countries in the second position.

You will see that the different politicians are written in inconsistent ways. 

We want to obtain a new list of elements in which, for each politician and country, we obtain just one string of the format "Politician: [politician name], Country: [country name]".

Also, we want that politicians are now written with each letter in their names uppercase, the rest lowercase, like 'Emmanuel Macron' instead of 'emmANUEL macron'.

Plus, in our final list we just want politicians from the Americas and Europe, so please filter according to the country.

Print the final resulting list.

In [ ]:
list_politicians = [('Barack obama', 'USA'), ('Pedro SANCHEZ', 'Spain'), ('emmANUEL macron', 'France'), ('LULA DA silVA', 'Brazil'), ('Jacinda Ardern', 'New Zealand'), ('Irene Montero', 'Spain'), ('Shinzo Abe', 'Japan'), ('Joe BIDEN', 'USA'), ('Angela Merkel', 'Germany'), ('Mark Rutte', 'Netherlands'), ('Justin Trudeau', 'Canada'), ('Elizabeth Warren', 'USA'), ('AOC', 'USA'), ('Narendra Modi', 'India')]

**Solution**

### **Exercise 4**

We are presented 3 different texts concerning different books, movies and TV Shows. None of them contain duplicates.

Combine their individual elements (all those movies, films and TV Shows turned lists) into one single list of strings. For instance, with incoming ['movie A', 'movie B'] and ['book A'] we'd obtain a single list, ['movie A', 'movie B', 'book A'].

Make sure that if an element is present more than twice in a list, it is totally removed altogether from it. That means, if 'the Godfather' is present more than once, drop it altogether, we don't even one one instance of it in the list.

In [5]:
books = 'Some books I love include Crime and Punishhment, The Wind-Up Bird Chronicle, 1984, the Magic Mountain, the Godfather, the Trial, Wuthering Heights.'
films = 'Some films that exist include the Godfather, La La Land, Moonlight, 1984, Casablanca, North by Northwest, Fargo, The Rope, Pierrot le Fou.'
shows = 'Some TV SHows I enjoy include the Wire, the Sopranos, Fargo, Seinfeld, Friends, Curb your Enthusiasm, Frasier, Homeland.'

**Solution**

### **Exercise 5**

We have a list of numbers. Generate a function that acts upon a single element of the list at each time, and it returns both its squared value, as well as its value divided by the following value of the list. If there's no following element in the list, it returns the value itself.

Apply the defined function to all the list so as to obtain a single list of values that, for each index, presents its sqared value (**tip**: this will require some tuple unpacking or indexing of the result :) ).

In [ ]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Solution**

### **Exercise 6**

The previous exercise's answer could have been obtained much more easily by using a short function to obtain the result.

Use Python's already built-in _**_ operator in a **lambda function** and combine it with **map** to apply it directly, and in a much more simple way, to our list of numbers, and obtain the same result (just the squared values!) as in the previous exercise.

**Solution**

### **Exercise 7**
Code a While Loop that keeps printing the code 'I am a While Loop and thus I keep printing. Iteration number: [number of iteration]' and that:
    - In the 5th iteration it writes, in addition to the previous statement: 'This is the 5th Iteration!'
    - In the 10th Iteration it writes the following statement: 'This is the 10th Iteration!' but not the initial statement.
    - In and after the 15th iteration it writes, in addition to the initial staetement, the following one: 'I am getting tiiireeeed'
    - During the 20th iteration, it stops running.

**Solution**

### **Exercise 8**
We have a list of movies and a list of ratings. Their positions match i.e., the first item of the ratings list is the rating corresponding to the first item in the films list.

Use the **filter** function to obtain a list of films including just those films with a related score of 85 or above.

In [ ]:
films = ['Tenet', 'Fargo', 'The Big Lebowski', 'Ran', 'the Godfather', 'Burn after Reading']
ratings = [77, 85, 90, 90, 92, 66]

**Solution**

### **Exercise 9**

Use list comprehensions to solve the following quandaries, with different lists:

    - For list1, obtain for each element of the list the first name of the person it represents.
    - For list2, obtain for each element in the list its squared value plus 1.
    - For list3, obtain for each element in the list its squared value plus 2 if it's an odd number and, if it's an even number, its squared value plus 5.
    - For list3, add a condition to the previous list comprehension in a new variable assignmanet. Apart from the previous two conditions, if the value is 0, write 'What should i do?'

In [ ]:
list1 = ['Marcel Proust', 'Michelle Obama', 'Brad Pitt', 'Kendrick Lamar', 'Jane Austen', 'Margot Robbie']
list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list3 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**Solution**

### **Exercise 10**

We have several movies we love, original from different countries, linked to their director, and their associated grade, in a tuple.

We also have a dictionary which relates directors to their country of origin.

Write a function that:

    - Intakes all list of films as a single list of lists of films. We want to keep separate which are european, american or asian.
    - For each of the films, if the director is from the same nationality as the movie itself, it adds 'must watch' to the tuple, as a 5th item, for grades above or equal to 85. Else, it adds 'not so must watch'.
    - If the director is from a different nationality than the film, it adds 'must watch' if the score is above or equal to 75, else it adds 'not so must watch'.
    - It returns the modified list of tuples.
    - Execute the function.

In [2]:
# Tip! How to add a single element to a tuple:
('Babylon', 92, 'Damien Chazelle') + ('must watch',)

('Babylon', 92, 'Damien Chazelle', 'must watch')

In [3]:
european_films = [('The Square', 90, 'Ruben Ostlund', 'Swedish'), ('Dunkirk', 70, 'Christopher Nolan', 'British'), ('Caché', 80, 'Michael Haneke', 'French')]
american_films = [('Oppenheimer', 90, 'Christopher Nolan', 'American'), ('Whiplash', 85, 'Damien Chazelle', 'American'), ('Reservoir Dogs', 85, 'Quentin Tarantino', 'American')]
asian_films = [('Drive My Car', 90, 'Ryusuke Hamaguchi', 'Japanese'), ('Parasite', 85, 'Bong Joon-Ho', 'Korean')]

In [4]:
directors = {'Ruben Ostlund': 'Swedish', 'Christopher Nolan': 'British', 'Damien Chazelle': 'American', 'Quentin Tarantino': 'American', 
             'Michael Haneke':'Austrian', 'Ryusuke Hamaguchi':'Japanese', 'Bong Joon-Ho':'Korean'}

**Solution**

### **Exercise 11**

Generate two different functions, based on the code you developed to solve exercise 3:
    - The first applies the transformations you prepared in Exercise 4, but that its applies tuple per tuple in the list.
    - The second applies the same transformations in Exercise 4, but it intakes the overall list.

After preparing both functions, execute them and see what they return.

**Solution**

### **Exercise 12**

Deine a function that intakes a couple of numbers, multiplies them, and returns is multiplication plus 5. As for the multiplication per se, store it in a created variable inside the funciton called 'tricky_variable'.

Prove that tricky_variable does not exist outside the function itself.

Then, create another function which code ensures that the tricky_variable its not local anymore, and that can be used outside of the function without purely returning it.

**Solution**

## **Coaching Session Exercises**

### **Exercise 1**

Fruits are an incredible topic of discussion. We have a list of them, though they have been miswritten. Create a function that:

 - Writes them in the right format ('AppLE' shoul be written like 'Apple'). 

 - Plus, some of them are included in a list according to the season where we can find them. Modify their name to display they season, like this: 'Strawberry, a spring fruit'
 
 - If they are not included in each list, it must be because they are found all year long. Instead, display it as in the folowing example: 'Apple, an all-year-long fruit'
 
Return the modify list, capture it in a variable, and print it.

In [1]:
list_fruits = ['APpLe', 'orange', 'STRAWberry', 'banana', 'cherry', 'MElon', 'figue', 'TangeRine', 'KiWi', 'GrapEFRuit', 'Grape', 'Blueberry', 'pomegranate']
fruits_autumn = ['grape', 'pommegranate', 'tangerine', 'kiwi']
fruits_winter = ['orange', 'grapefruit']
fruits_spring = ['strawberry', 'blueberry']
fruits_summer = ['cherry', 'melon', 'figue']

**Solution**

### **Exercise 2**

We have a list of numbers and we want to obtain the squared value +3 of each of the numbers.

Work out the solution by means of using **map** + a **lambda function**

In [2]:
numbers = [4, 56, 7, 8, 2, 34, 675, 43, 2, 1, 90, 879]

**Solution**