# **05. Python Pandas II**

## **Homework Assignments / Coaching Session Doubts and Practice**

## **Exercise 1** 

We have a dataframe that considers different salaries for Data positions in different countries:

    - Import the dataframe
    - Do an initial exploration - What do you see?
    - What's the compared mean Average Salary in ES, FR and the US? Find it out, using Pandas base exploratory funcitons.

# **Exercise 2**

Obtain a DataFrame that, per country, shows the mean salary, in local currency, and the maximum and minimum salaries, all per experience level.

# **Exercise 3**

There are many types of Data Jobs available.

Create the same grouping as before, plus an added dimension, "type of job", created from scratch considering:

    - If the title considers 'ML', 'Machine Learning', 'Science' or 'AI', then the category should be 'ML-Related'
    - Else, if the title considers 'BI' or 'Business Intelligence', then it should be 'BI-Related'
    - Else, if the title consders 'Analy', it should be 'Analyst'
    - Else, if the title considers 'ETL' or 'Data Engineer' it should be 'Data Engineer'
    - Else, if the title considers 'Cloud' or 'Architect', it should be 'Data/Cloud Architect'
    - Else, the category should be 'Others'.
    
Think what flow of transformations you need to achieve this. Plus, take into account the elses as mentioned before!

# **Exercise 4**

Get a list of the unique countries from the previous dataset of salaries.

Now, import the cost of living dataset.

From the following countries: ('FR', 'US', 'UK', 'ES', 'JP', 'IT', 'DE', 'UA'), compare the average salary per position and type of job, as obtained before, with the cost of living, assuming that they live in the cities of FR: Paris; UK: London, USA: NYC, San Francisco, Austin; ES: Barcelona, Madrid; IT: Milan; JP: Tokyo, Osaka; DE: Berlin, Munich, Frankfurt, KÃ¶ln; UA: Kiev. Do so by dividing the medium obtained salary by the cost of living index.

For an entry level position, what's the most expensive city/country? And for a Mid one?