# **01. Practice: Introduction to Python and Python Data Types**

## **Homework Assignments / Coaching Session Doubts and Practice**

### **Exercise 1**

Generate a variable y, which value equals to x to the power of 3, plus 5. Obtain the product of its division, its floored division, and the residue of it.

Print a text specifying each of the variables names and values.

In [6]:
x = 4

Expected result:

Division: 17.25
Floored Division: 17
Residue: 1

**Solution**

In [15]:
# Divide
y = (x**3)+5

# Calculate each of the three required measures
division = y/x
floored_div = y//x
residue = y%x

# Print the string
print(f"Division: {division}\nFloored Division: {floored_div}\nResidue: {residue}")

Division: 17.25
Floored Division: 17
Residue: 1

### **Exercise 2**

A company wants a unique list of employees. However, there has been an accident. One of its employees names has been copied many times (see variable), and they want that sorted out.

Find a way to reduce this employee's name back to just one repetition yet again, **without using string indexing**.

(Hint: you may want to try your way with other Python objects apart from strings!)

In [1]:
employee = 'bruce '
multiple_employees = employee * 8000

In [2]:
multiple_employees[:41]

'bruce bruce bruce bruce bruce bruce bruce'

Find a way to stop this madness!

Expected result:

'bruce'

**Solution**

In [3]:
# Split into multiple Glopis
list_employees = multiple_employees.split()
# Reduce list to one, and select first value
list(set(list_employees))[0]

'bruce'

### **Exercise 3**

List 1 and List 2 should be equal. However, when matching element per element, we find that they are not equivalent.

Prove that they are not equivalent, sort this out (however, you **cannot type** the correct strings by hand), and prove that after sorting it out they are equivalent again.

Print all three results (a list seeing how they don't all match, both corrected lists, and the new list proving all elements from both lists are equivalent index to index) at a time.

In [3]:
list1 = ['Apple', 'banana ', 'ORANGE']
list2 = ['apple', 'Banana', 'orange ']

They are not equivalent: [False, False, False]
New List 1: ['apple', 'banana', 'orange'], New List 2: ['apple', 'banana', 'orange']
Now they are equivalent: [True, True, True]

**Solution**

In [7]:
list1 = [i.lower().strip() for i in list1]

In [8]:
list1

['apple', 'banana', 'orange']

In [6]:
new_list = []
for i in list1:
    new_list.append(i.lower().strip())
    
new_list

['APPLE', 'BANANA ', 'ORANGE']

In [45]:
# Print missmatch of indexes:
are_they_equivalent = [list1[i] == list2[i] for i in range(3)]

# Correct strings
list1 = [i.lower().strip() for i in list1]
list2 = [i.lower().strip() for i in list2]

# Prove that they are correct now
they_are_equivalent_now = [list1[i] == list2[i] for i in range(3)]

# Print solution
print(f"They are not equivalent: {are_they_equivalent}\nNew List 1: {list1}, New List 2: {list2}\nNow they are equivalent: {they_are_equivalent_now}")

They are not equivalent: [False, False, False]
New List 1: ['apple', 'banana', 'orange'], New List 2: ['apple', 'banana', 'orange']
Now they are equivalent: [True, True, True]

### **Exercise 4**

Strings 1 and 2 include food types. However, they should be lists and not have repeated values.

Prepare lists of non repeated values from said strings.

Then, find the index with a built-in list method of the string 'Sushi' in each of the lists, and prove that 'Sushi' from all three lists are equivalent.

In [6]:
str1 = "Mexican, Thai, American, Burger, Breakfast, Italian, Pizza, Sushi, Georgian, Mediterranian, Traditional, Empanadas"
str2 = "Burger, Tacos, Thai, American, Breakfast, Chinese, Georgian, Pizza, Traditional, Sushi, Mediterranian, Empanadas"

Expected result:

In [16]:
str1.split(" ,")

['Mexican, Thai, American, Burger, Breakfast, Italian, Pizza, Sushi, Georgian, Mediterranian, Traditional, Empanadas']

**Solution**

In [7]:
list1 = list(set(str1.split(", ")))
list2 = list(set(str2.split(", ")))

list1[list1.index('Sushi')] == list2[list2.index('Sushi')]

True

### **Exercise 5**

A travelling agency has all information considering trips to be made overseas stored in many different places. They want to centralize everything in a dictionary. 

Create a dictionary which, for every country, presents the cities to visit, the price of the trip and its length.

In [9]:
cities_japan = ['Tokyo', 'Osaka', 'Nara', 'Kyoto', 'Hiroshima']
cities_austria = ['Vienna', 'Graz', 'Innsbruck']
cities_uk = ['London', 'Bath', 'Edinburgh', 'Dundee', 'Glasgow']
cities_france = ['Nantes', 'Paris', 'Lyon', 'Marseille', 'Tolouse', 'Bourdeaux']
price_japan = 4000
price_austria = 1500
price_uk = 2000
price_france = 2000
length_japan = '22 days'
length_austria = '8 days'
length_uk = '15 days'
length_france = '20 days'

Expected result:

In [48]:
d

{'Japan': {'cities': ['Tokyo', 'Osaka', 'Nara', 'Kyoto', 'Hiroshima'],
  'price': 4000,
  'length': '22 days'},
 'Austria': {'cities': ['Vienna', 'Graz', 'Innsbruck'],
  'price': 1500,
  'length': '8 days'},
 'UK': {'cities': ['London', 'Bath', 'Edinburgh', 'Dundee', 'Glasgow'],
  'price': 2000,
  'length': '15 days'},
 'France': {'cities': ['Nantes',
   'Paris',
   'Lyon',
   'Marseille',
   'Tolouse',
   'Bourdeaux'],
  'price': 2000,
  'length': '20 days'}}

Now, after generating the dictionary, we have realized that there's some incorrect data. Make the following modifications:

1. During our Japanese visit, we will also be visiting Sapporo.
2. During our French visit, we won't be visiting Marseille. However, we will be adding Rennes and Reims to our tour.
3. All lists of cities need to be ordered alphabetically.
4. All lengths should be numerical instead of strings, in days. Therefore, instead of '10 days', we want just 10.

Expected result:

In [51]:
d

{'Japan': {'cities': ['Hiroshima',
   'Kyoto',
   'Nara',
   'Osaka',
   'Sapporo',
   'Tokyo'],
  'price': 4000,
  'length': 22},
 'Austria': {'cities': ['Graz', 'Innsbruck', 'Vienna'],
  'price': 1500,
  'length': 8},
 'UK': {'cities': ['Bath', 'Dundee', 'Edinburgh', 'Glasgow', 'London'],
  'price': 2000,
  'length': 15},
 'France': {'cities': ['Bourdeaux',
   'Lyon',
   'Nantes',
   'Paris',
   'Reims',
   'Rennes',
   'Tolouse'],
  'price': 2000,
  'length': 20}}

**Solution 1**

In [10]:
d = {
    'Japan': {'cities': cities_japan, 'price':price_japan, 'length':length_japan},
    'Austria': {'cities': cities_austria, 'price':price_austria, 'length':length_austria},
    'UK': {'cities': cities_uk, 'price':price_uk, 'length':length_uk},
    'France': {'cities': cities_france, 'price':price_france, 'length':length_france}
    }

**Solution 2**

In [49]:
d['Japan']['cities'].append('Sapporo')
d['France']['cities'] = d['France']['cities'] + ['Reims', 'Rennes']
d['France']['cities'].pop(d['France']['cities'].index('Marseille'))
# sort values
d['France']['cities'].sort()
d['Japan']['cities'].sort()
d['Austria']['cities'].sort()
d['UK']['cities'].sort()
# convert into numbers
d['Japan']['length'] = int(d['Japan']['length'].split()[0])
d['France']['length'] = int(d['France']['length'].split()[0])
d['Austria']['length'] = int(d['Austria']['length'].split()[0])
d['UK']['length'] = int(d['UK']['length'].split()[0])

### **Additional content we've covered**

Apart from the content covered in the first theoretical session last week, we've been able to get first glances of for loops, the range() function and list comprehensions, to be seen during the following weeks.

We will covered that during the following sessions, but there's a couple more additional things that would prove to be useful for you to know:

 - **"\n" in print statements:** you can use this to print several separated lines.
 - **stiring method - str.join(list):** you can use this to join a list of objects into a single string, using a spacer.

In [8]:
# Example 1

print("Hello\nWorld")

Hello
World

In [9]:
# Example 2

", ".join(['London', 'Bath', 'Edinburgh', 'Dundee', 'Glasgow'])

'London, Bath, Edinburgh, Dundee, Glasgow'

## **Coaching Session Exercises in-Situ**

### **Exercise 1**

From the following massive text, find how many times the word Taiwan appears.

Also, extract the words Taiwan, Beijing, and September from the text.

In [1]:
txt = "Taiwan’s presidential offices are located in a sprawling, stately complex built by the Japanese colonial administration in the early 20th century—a reminder that, for all the belligerent rhetoric coming from the Chinese Communist Party, Taiwan has not been firmly under Beijing’s control for well over 100 years. When I arrived at the offices in September for an interview with President Tsai Ing-wen, it occurred to me that the large tower rising above the entrance might become a target in the event of an invasion."

In [2]:
print(txt)

Taiwan’s presidential offices are located in a sprawling, stately complex built by the Japanese colonial administration in the early 20th century—a reminder that, for all the belligerent rhetoric coming from the Chinese Communist Party, Taiwan has not been firmly under Beijing’s control for well over 100 years. When I arrived at the offices in September for an interview with President Tsai Ing-wen, it occurred to me that the large tower rising above the entrance might become a target in the event of an invasion.

**Solution**

In [17]:
txt.count("Taiwan")

2

In [22]:
txt[txt.find('Beijing'):txt.find('Beijing')+len('Beijing')]

'Beijing'

### **Exercise 2**
 
Convert the following texts into a single list of cities in the world.

Then, eliminate duplicate instances from them.

Also, render all them with the first letter in uppercase, and the rest in lowercase.

Find in which index the name 'Seattle' is stored.

Join them back again into a single text.

In [23]:
txt1 = 'I loved visiting new york city, barcelona, kiev, london, tokyo, paris, seattle, los angeles, portland, toronto.'
txt2 = 'Some French cities include nantes, Rouen, Paris, Marseille, Lyon, Reims, Poitiers.'
txt3 = 'Some American cities include new york city, atlanta, portland, seattle, sacramento, tallahassee, austin, des moines.'

**Solution**

In [24]:
lst1 = txt1[txt1.find("barcelona"):-1].split(", ")
lst2 = txt2[txt2.find("nantes"):-1].split(", ")
lst3 = txt3[txt3.find("new york city"):-1].split(", ")

In [25]:
total_lst = lst1+lst2+lst3

In [26]:
total_lst = list(set(total_lst))

In [27]:
total_lst

['Reims',
 'nantes',
 'Rouen',
 'london',
 'austin',
 'Marseille',
 'tokyo',
 'new york city',
 'des moines',
 'kiev',
 'barcelona',
 'sacramento',
 'portland',
 'paris',
 'Poitiers',
 'Lyon',
 'tallahassee',
 'atlanta',
 'seattle',
 'los angeles',
 'Paris',
 'toronto']

In [63]:
total_lst = [i.capitalize() for i in total_lst]

In [65]:
", ".join(total_lst)

'Barcelona, Kiev, London, Tokyo, Paris, Seattle, Los angeles, Portland, Toronto, Nantes, Rouen, Paris, Marseille, Lyon, Reims, Poitiers, New york city, Atlanta, Portland, Seattle, Sacramento, Tallahassee, Austin, Des moines'