# **04. Python Numpy and Pandas Fundamentals**

## **Homework Assignments / Coaching Session Doubts and Practice**

### **Exercise 1**

1. Create a Pandas Dataframe from a Dictionary depicting, for the countries of FR, UK, ES, RO, JP; their GDP, Capital city, Continent they belong to, and total population.
2. Now create a second pandas Dataframe, with made-up values, of four numerical columns (col_a to col_d, with those names), that represent indexes for the same countries as before, using **random**

### **Exercise 2**

Create a new pandas dataframe reading from the CSV file **'countries of the world.csv'**.

1. Find out whether the dataframe column 'Country' has unique registers for all countries. Can it be our main Key?
2. Make the Country column the dataframe index.
3. Select the Population and GDP per Capita of the US, India, China and Japan. Which country is bigger? Which is richer per capita? [Select these without filtering, just by indexing]
4. Create a new column with the total GDP per country, in $ (assume GDP total = Population * GDP per capita).
5. Compare again the columns before. What's the ordering if considering GDP total, or GDP per capita? Use **sort_values()** to find out. Add France and Spain to the mix. And now?

### **Exercise 3**

We forgot to do domething quite important during the last exercise, which was finding main information concerning our dataframe.

Explore the dataframe, to get:
    - How many null values per column are there.
    - A random sample of 10 rows.
    - An analysis of the mean, and quartile values for all numerical columns. How do the distributions on GDP per capita, total GDP from the last exercise, Birthrate and Deathrate look?

### **Exercise 4**

Let's do a small exploration on the Net Population Flux of each country. 

First, let's start by filtering our dataframe to obtain those countries which Birtrates are equal or smaller to the Deathrates. What do you see?

If you have compared both values, you may see that after enacting the comparison you obtain numbers that make no sense. It might be because datatypes are not what you think, and because comparisons are thus not acting in a numerical basis. Therefore:
 1. Check the datatype (**dtype**) of the Birthrate and Deathrate columns. Are they numerical?

To turn them into numerical, we must first substitute their commas by dots i.e., turning '15,5' into '15.5'. 

 2. For that, use **df.column.apply**, following the example provided, to make both columns Deathrate and Birtrate have their comma values substituted by their point values.
 3. Now, use the **float()** function to turn these new strings into floats, also using **df.column.apply**.

**WARNING** - Be mindful of NaN objects, which are of type **float**! Instead of using a simple lambda function in apply, you can code a function with def that takes into account an if/else or try/except to try to get around those values!

**Example of df.column.apply**

In [20]:
random_df = pd.DataFrame(np.random.randn(5, 5), columns = 'A B C D E'.split())
random_df

          A         B         C         D         E
0 -0.383945  1.597973 -0.264637  2.419672  1.961480
1  0.417202  0.180861  0.299652  0.957938 -1.930422
2 -1.063466 -1.119329  0.474865  0.249703 -0.604305
3 -1.274128 -0.135673 -1.510706 -0.114590 -1.466162
4  0.897091 -2.328572  1.115739 -1.586601  0.915069

In [21]:
random_df["A"] = random_df.A.apply(lambda x: x**2 + 3)

In [22]:
random_df

          A         B         C         D         E
0  3.147414  1.597973 -0.264637  2.419672  1.961480
1  3.174058  0.180861  0.299652  0.957938 -1.930422
2  4.130960 -1.119329  0.474865  0.249703 -0.604305
3  4.623401 -0.135673 -1.510706 -0.114590 -1.466162
4  3.804772 -2.328572  1.115739 -1.586601  0.915069

**Solution**

Now, apply the aforementioned filter, and let's get those countries for which the birtrate is equal or lower to the deathrate.

### **Exercise 5**

Let's continue with that small exploration on the Net Population Flux of each country.

Let's assume that the Net Population Flux = Birtrate - Deathrate + Net Migration.

1. Turn all three columns into floats for calculating.
2. This time, deal with the NaN values in all columns:
    2.1. Find out which Countries have NaN values of Birtrate, Deathrate and Migration
    2.2. Fill them with the mean values of the dataset, for each respective column.
3. Now, calculate a new column, the 'Net Population Flux'.
4. Which countries have it negative?
5. Which countries are the most negative, in Europe (eastern or western), or North America?