# **02. Practice: Conditional Statements, Loops and Functions**

## **Homework Assignments / Coaching Session Doubts and Practice**

### **Exercise 1**

From the following list of countries, create a conditional statement that:
 - For those countries with two or more words, it prints out 'Two Word Country!'
 - For those countries beginning either with 'N', 'D' or 'F', as long as it's not France, it prints out 'Nordic Country!'
 - For those countries beginning with 'Fr', 'Sp' or 'Gr' it prints out 'Delicious Wines!'
 - For Burkina Faso, does nothing but printing 'Burkina Faso!'
 - For the rest of countries, it does nothing.
 
Make one of the countries pass the conditional loop to see that all conditions are met.

In [14]:
list_of_countries = ['Sri Lanka', 'Central African Republic', 'Norway', 'Denmark', 'France', 'Philipines', 'Spain', 'Greece', 'West Sahara', 'Burkina Faso', 'Finland']

**Solution**

In [6]:
country = 'Sri Lanka'
if len(country.split()) > 1 and country not in ['Burkina Faso']:
    print('Two-Word Country!')
elif country[0] in ['N', 'D', 'F'] and country != 'France':
    print('Nordic Country!')
elif country[:2] in ['Fr', 'Sp', 'Gr']:
    print('Delicious Wines!')
elif country == 'Burkina Faso':
    print('Burkina Faso')

Two-Word Country!

### **Exercise 2**

Considering the same list as before, we want to add to it a list of additional countries (see list 2).

Use the Conditional statement written in the previous exercise so as to apply it to the overall list, instead of printing the specified statements, you'll use them to substitue the original elements in the list.

Print the result.

For instance, an expected result would be:

In: ['France', 'Norway', 'Philipines']
Out:['Delicious Wines!', 'Nordic Country!', 'Philipines']

In [9]:
list_countries_2 = ['China', 'South Korea', 'Iran', 'Chile', 'South Africa', 'Mexico']

**Solution**

In [17]:
total_list = list_of_countries + list_countries_2
print(total_list)

['Sri Lanka', 'Central African Republic', 'Norway', 'Denmark', 'France', 'Philipines', 'Spain', 'Greece', 'West Sahara', 'Burkina Faso', 'Finland', 'China', 'South Korea', 'Iran', 'Chile', 'South Africa', 'Mexico', 'China', 'South Korea', 'Iran', 'Chile', 'South Africa', 'Mexico', 'China', 'South Korea', 'Iran', 'Chile', 'South Africa', 'Mexico']

In [18]:
for c, country in enumerate(total_list):
    if len(country.split()) > 1 and country not in ['Burkina Faso']:
        total_list[c] = 'Two-Word Country!'
    elif country[0] in ['N', 'D', 'F'] and country != 'France':
        total_list[c] = 'Nordic Country!'
    elif country[:2] in ['Fr', 'Sp', 'Gr']:
        total_list[c] = 'Delicious Wines!'
    elif country == 'Burkina Faso':
        total_list[c] = 'Burkina Faso'

print(total_list)

['Two-Word Country!', 'Two-Word Country!', 'Nordic Country!', 'Nordic Country!', 'Delicious Wines!', 'Philipines', 'Delicious Wines!', 'Delicious Wines!', 'Two-Word Country!', 'Burkina Faso', 'Nordic Country!', 'China', 'Two-Word Country!', 'Iran', 'Chile', 'Two-Word Country!', 'Mexico', 'China', 'Two-Word Country!', 'Iran', 'Chile', 'Two-Word Country!', 'Mexico', 'China', 'Two-Word Country!', 'Iran', 'Chile', 'Two-Word Country!', 'Mexico']

### **Exercise 3**

We have a list of tuples, with known politicians in the first position of the tuple, and with their respective countries in the second position.

You will see that the different politicians are written in inconsistent ways. 

We want to obtain a new list of elements in which, for each politician and country, we obtain just one string of the format "Politician: [politician name], Country: [country name]".

Also, we want that politicians are now written with each letter in their names uppercase, the rest lowercase, like 'Emmanuel Macron' instead of 'emmANUEL macron'.

Plus, in our final list we just want politicians from the Americas and Europe, so please filter according to the country.

Print the final resulting list.

In [20]:
list_politicians = [('Barack obama', 'USA'), ('Pedro SANCHEZ', 'Spain'), ('emmANUEL macron', 'France'), ('LULA DA silVA', 'Brazil'), ('Jacinda Ardern', 'New Zealand'), ('Irene Montero', 'Spain'), ('Shinzo Abe', 'Japan'), ('Joe BIDEN', 'USA'), ('Angela Merkel', 'Germany'), ('Mark Rutte', 'Netherlands'), ('Justin Trudeau', 'Canada'), ('Elizabeth Warren', 'USA'), ('AOC', 'USA'), ('Narendra Modi', 'India')]

**Solution**

In [21]:
new_lst = []
for p, c in list_politicians:
    if c not in ['New Zealand', 'Japan', 'India']:
        new_name = ' '.join([i.capitalize() for i in p.split(" ")])
        new_lst.append(f"Politician: {new_name}, Country: {c}")

print(new_lst)

['Politician: Barack Obama, Country: USA', 'Politician: Pedro Sanchez, Country: Spain', 'Politician: Emmanuel Macron, Country: France', 'Politician: Lula Da Silva, Country: Brazil', 'Politician: Irene Montero, Country: Spain', 'Politician: Joe Biden, Country: USA', 'Politician: Angela Merkel, Country: Germany', 'Politician: Mark Rutte, Country: Netherlands', 'Politician: Justin Trudeau, Country: Canada', 'Politician: Elizabeth Warren, Country: USA', 'Politician: Aoc, Country: USA']

### **Exercise 4**

We are presented 3 different texts concerning different books, movies and TV Shows. None of them contain duplicates.

Combine their individual elements (all those movies, films and TV Shows turned lists) into one single list of strings. For instance, with incoming ['movie A', 'movie B'] and ['book A'] we'd obtain a single list, ['movie A', 'movie B', 'book A'].

Make sure that if an element is present more than twice in a list, it is totally removed altogether from it. That means, if 'the Godfather' is present more than once, drop it altogether, we don't even one one instance of it in the list.

In [22]:
books = 'Some books I love include Crime and Punishhment, The Wind-Up Bird Chronicle, 1984, the Magic Mountain, the Godfather, the Trial, Wuthering Heights.'
films = 'Some films that exist include the Godfather, La La Land, Moonlight, 1984, Casablanca, North by Northwest, Fargo, The Rope, Pierrot le Fou.'
shows = 'Some TV SHows I enjoy include the Wire, the Sopranos, Fargo, Seinfeld, Friends, Curb your Enthusiasm, Frasier, Homeland.'

**Solution**

In [23]:
total_lst = books[books.find('Crime'):-1].split(', ') + films[films.find('the Godfather'):-1].split(', ') + shows[shows.find('the Wire'):-1].split(', ')
print(total_lst)

['Crime and Punishhment', 'The Wind-Up Bird Chronicle', '1984', 'the Magic Mountain', 'the Godfather', 'the Trial', 'Wuthering Heights', 'the Godfather', 'La La Land', 'Moonlight', '1984', 'Casablanca', 'North by Northwest', 'Fargo', 'The Rope', 'Pierrot le Fou', 'the Wire', 'the Sopranos', 'Fargo', 'Seinfeld', 'Friends', 'Curb your Enthusiasm', 'Frasier', 'Homeland']

In [31]:
new_lst = []
for i in total_lst:
    if (total_lst.count(i)) > 1:
        pass
    else:
        new_lst.append(i)

print(new_lst)

['Crime and Punishhment', 'The Wind-Up Bird Chronicle', 'the Magic Mountain', 'the Trial', 'Wuthering Heights', 'La La Land', 'Moonlight', 'Casablanca', 'North by Northwest', 'The Rope', 'Pierrot le Fou', 'the Wire', 'the Sopranos', 'Seinfeld', 'Friends', 'Curb your Enthusiasm', 'Frasier', 'Homeland']

### **Exercise 5**

We have a list of numbers. Generate a function that acts upon a single element of the list at each time, and it returns both its squared value, as well as its value divided by the following value of the list. If there's no following element in the list, it returns the value itself.

Apply the defined function to all the list so as to obtain a single list of values that, for each index, presents its sqared value (**tip**: this will require some tuple unpacking or indexing of the result :) ).

In [18]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Solution**

In [37]:
def my_func(c, x):
    if c == len(number_list) -1:
        a = 1
    else:
        a = number_list[c+1]
    
    return x**2, x/a

In [41]:
new_lst = []
for a, b in enumerate(number_list):
    new_lst.append(my_func(a, b)[0])

new_lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Exercise 6**

The previous exercise's answer could have been obtained much more easily by using a short function to obtain the result.

Use Python's already built-in _**_ operator in a **lambda function** and combine it with **map** to apply it directly, and in a much more simple way, to our list of numbers, and obtain the same result (just the squared values!) as in the previous exercise.

**Solution**

In [42]:
list(map(lambda x: x**2, number_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Exercise 7**
Code a While Loop that keeps printing the code 'I am a While Loop and thus I keep printing. Iteration number: [number of iteration]' and that:
    - In the 5th iteration it writes, in addition to the previous statement: 'This is the 5th Iteration!'
    - In the 10th Iteration it writes the following statement: 'This is the 10th Iteration!' but not the initial statement.
    - In and after the 15th iteration it writes, in addition to the initial staetement, the following one: 'I am getting tiiireeeed'
    - During the 20th iteration, it stops running.

**Solution**

In [45]:
counter = 0
while True:
    counter +=1
    if counter == 5:
        print('This is the 5th Iteration!')
    elif counter == 10:
        print('This is the 1th Iteration!')
        continue # It jumps to the following loop iteration, and thus it does not print the initial statement! :)
    
    print(f'I am a While Loop and thus I keep printing. Iteration number: {counter}')
    
    if counter >= 15:
        print('I am getting tiiireeeed')
    
    if counter == 20:
        break

I am a While Loop and thus I keep printing. Iteration number: 1
I am a While Loop and thus I keep printing. Iteration number: 2
I am a While Loop and thus I keep printing. Iteration number: 3
I am a While Loop and thus I keep printing. Iteration number: 4
This is the 5th Iteration!
I am a While Loop and thus I keep printing. Iteration number: 5
I am a While Loop and thus I keep printing. Iteration number: 6
I am a While Loop and thus I keep printing. Iteration number: 7
I am a While Loop and thus I keep printing. Iteration number: 8
I am a While Loop and thus I keep printing. Iteration number: 9
This is the 1th Iteration!
I am a While Loop and thus I keep printing. Iteration number: 11
I am a While Loop and thus I keep printing. Iteration number: 12
I am a While Loop and thus I keep printing. Iteration number: 13
I am a While Loop and thus I keep printing. Iteration number: 14
I am a While Loop and thus I keep printing. Iteration number: 15
I am getting tiiireeeed
I am a While Loop and thus I keep printing. Iteration number: 16
I am getting tiiireeeed
I am a While Loop and thus I keep printing. Iteration number: 17
I am getting tiiireeeed
I am a While Loop and thus I keep printing. Iteration number: 18
I am getting tiiireeeed
I am a While Loop and thus I keep printing. Iteration number: 19
I am getting tiiireeeed
I am a While Loop and thus I keep printing. Iteration number: 20
I am getting tiiireeeed

### **Exercise 8**
We have a list of movies and a list of ratings. Their positions match i.e., the first item of the ratings list is the rating corresponding to the first item in the films list.

Use the **filter** function to obtain a list of films including just those films with a related score of 85 or above.

In [3]:
films = ['Tenet', 'Fargo', 'The Big Lebowski', 'Ran', 'the Godfather', 'Burn after Reading']
ratings = [77, 85, 90, 90, 92, 66]

**Solution**

DAAAMN a new function! **ZIP**! Super interesting!

In [11]:
# Couples different lists into a list of tuples from its components, according to the specified index.
z = list(zip(films, ratings))
print(z)

[('Tenet', 77), ('Fargo', 85), ('The Big Lebowski', 90), ('Ran', 90), ('the Godfather', 92), ('Burn after Reading', 66)]

In [13]:
list(filter(lambda x: x[1]>=85, z))

TypeError: 'filter' object is not subscriptable

### **Exercise 9**

Use list comprehensions to solve the following quandaries, with different lists:

    - For list1, obtain for each element of the list the first name of the person it represents.
    - For list2, obtain for each element in the list its squared value plus 1.
    - For list3, obtain for each element in the list its squared value plus 2 if it's an odd number and, if it's an even number, its squared value plus 5.
    - For list3, add a condition to the previous list comprehension in a new variable assignmanet. Apart from the previous two conditions, if the value is 0, write 'What should i do?'

In [52]:
list1 = ['Marcel Proust', 'Michelle Obama', 'Brad Pitt', 'Kendrick Lamar', 'Jane Austen', 'Margot Robbie']
list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list3 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**Solution**

In [59]:
list1 = [i.split()[0] for i in list1]
list2 = [i**2 + 1 for i in list2]
list31 = [i**2 + 2 if i%2 == 1 else i**2 + 5 for i in list3]
list32 = [i**2 + 2 if i%2 == 1 else 'What should I do?' if i == 0 else i**2 + 5 for i in list3]

print(list1, list2, list31, list32)

['Marcel', 'Michelle', 'Brad', 'Kendrick', 'Jane', 'Margot'] [5, 26, 677, 10202, 84101, 458330, 1876901, 6255002, 17859077, 45225626, 104080805] [5, 3, 9, 11, 21, 27, 41, 51, 69, 83, 105, 123, 149, 171, 201, 227, 261, 291, 329, 363, 405] ['What should I do?', 3, 9, 11, 21, 27, 41, 51, 69, 83, 105, 123, 149, 171, 201, 227, 261, 291, 329, 363, 405]

### **Exercise 10**

We have several movies we love, original from different countries, linked to their director, and their associated grade, in a tuple.

We also have a dictionary which relates directors to their country of origin.

Write a function that:

    - Intakes all list of films as a single list of lists of films. We want to keep separate which are european, american or asian.
    - For each of the films, if the director is from the same nationality as the movie itself, it adds 'must watch' to the tuple, as a 5th item, for grades above or equal to 85. Else, it adds 'not so must watch'.
    - If the director is from a different nationality than the film, it adds 'must watch' if the score is above or equal to 75, else it adds 'not so must watch'.
    - It returns the modified list of tuples.
    - Execute the function.

In [2]:
# Tip! How to add a single element to a tuple:
('Babylon', 92, 'Damien Chazelle') + ('must watch',)

('Babylon', 92, 'Damien Chazelle', 'must watch')

In [62]:
european_films = [('The Square', 90, 'Ruben Ostlund', 'Swedish'), ('Dunkirk', 70, 'Christopher Nolan', 'British'), ('Caché', 80, 'Michael Haneke', 'French')]
american_films = [('Oppenheimer', 90, 'Christopher Nolan', 'American'), ('Whiplash', 85, 'Damien Chazelle', 'American'), ('Reservoir Dogs', 85, 'Quentin Tarantino', 'American')]
asian_films = [('Drive My Car', 90, 'Ryusuke Hamaguchi', 'Japanese'), ('Parasite', 85, 'Bong Joon-Ho', 'Korean')]

In [63]:
directors = {'Ruben Ostlund': 'Swedish', 'Christopher Nolan': 'British', 'Damien Chazelle': 'American', 'Quentin Tarantino': 'American', 
             'Michael Haneke':'Austrian', 'Ryusuke Hamaguchi':'Japanese', 'Bong Joon-Ho':'Korean'}

**Solution**

In [88]:
def my_func(l_of_l):
    for c_l, l in enumerate(l_of_l):
        for c_t, t in enumerate(l):
            f, r, d, c = t[0], t[1], t[2], t[3]
            if c == directors[d] and r>=85:
                t = t + ('must watch',)
            elif c != directors[d] and r>=75:
                t = t + ('not so must watch',)
            l[c_t] = t
        
        l_of_l[c_l] = l
        
    return l_of_l

In [89]:
# make list o lists:
total_lst = [european_films + american_films + asian_films]
my_func(total_lst)

[[('The Square', 90, 'Ruben Ostlund', 'Swedish', 'must watch'),
  ('Dunkirk', 70, 'Christopher Nolan', 'British'),
  ('Caché', 80, 'Michael Haneke', 'French', 'not so must watch'),
  ('Oppenheimer', 90, 'Christopher Nolan', 'American', 'not so must watch'),
  ('Whiplash', 85, 'Damien Chazelle', 'American', 'must watch'),
  ('Reservoir Dogs', 85, 'Quentin Tarantino', 'American', 'must watch'),
  ('Drive My Car', 90, 'Ryusuke Hamaguchi', 'Japanese', 'must watch'),
  ('Parasite', 85, 'Bong Joon-Ho', 'Korean', 'must watch')]]

### **Exercise 11**

Generate two different functions, based on the code you developed to solve exercise 3:
    - The first applies the transformations you prepared in Exercise 4, but that its applies tuple per tuple in the list.
    - The second applies the same transformations in Exercise 4, but it intakes the overall list.

After preparing both functions, execute them and see what they return.

**Solution**

In [13]:
list_politicians = [('Barack obama', 'USA'), ('Pedro SANCHEZ', 'Spain'), ('emmANUEL macron', 'France'), ('LULA DA silVA', 'Brazil'), ('Jacinda Ardern', 'New Zealand'), ('Irene Montero', 'Spain'), ('Shinzo Abe', 'Japan'), ('Joe BIDEN', 'USA'), ('Angela Merkel', 'Germany'), ('Mark Rutte', 'Netherlands'), ('Justin Trudeau', 'Canada'), ('Elizabeth Warren', 'USA'), ('AOC', 'USA'), ('Narendra Modi', 'India')]

In [14]:
# Original Code to remember what it does
new_lst = []
for p, c in list_politicians:
    if c not in ['New Zealand', 'Japan', 'India']:
        new_name = ' '.join([i.capitalize() for i in p.split(" ")])
        new_lst.append(f"Politician: {new_name}, Country: {c}")

#print(new_lst)

In [15]:
def func1(t):
    if t[1] not in ['New Zealand', 'Japan', 'India']:
        new_name = ' '.join([i.capitalize() for i in t[0].split(" ")])
        return f"Politician: {new_name}, Country: {t[1]}"

In [16]:
def func2(l):
    new_lst = []
    for p, c in list_politicians:
        if c not in ['New Zealand', 'Japan', 'India']:
            new_name = ' '.join([i.capitalize() for i in p.split(" ")])
            new_lst.append(f"Politician: {new_name}, Country: {c}")
    return new_lst

In [17]:
# Execution of both functions

In [18]:
# Func 1

new_list = []
for t in list_politicians:
    x = func1(t)
    if x == None:
        pass
    else:
        new_list.append(x)

new_list

['Politician: Barack Obama, Country: USA',
 'Politician: Pedro Sanchez, Country: Spain',
 'Politician: Emmanuel Macron, Country: France',
 'Politician: Lula Da Silva, Country: Brazil',
 'Politician: Irene Montero, Country: Spain',
 'Politician: Joe Biden, Country: USA',
 'Politician: Angela Merkel, Country: Germany',
 'Politician: Mark Rutte, Country: Netherlands',
 'Politician: Justin Trudeau, Country: Canada',
 'Politician: Elizabeth Warren, Country: USA',
 'Politician: Aoc, Country: USA']

In [19]:
# Func 2

func2(list_politicians)

['Politician: Barack Obama, Country: USA',
 'Politician: Pedro Sanchez, Country: Spain',
 'Politician: Emmanuel Macron, Country: France',
 'Politician: Lula Da Silva, Country: Brazil',
 'Politician: Irene Montero, Country: Spain',
 'Politician: Joe Biden, Country: USA',
 'Politician: Angela Merkel, Country: Germany',
 'Politician: Mark Rutte, Country: Netherlands',
 'Politician: Justin Trudeau, Country: Canada',
 'Politician: Elizabeth Warren, Country: USA',
 'Politician: Aoc, Country: USA']

### **Exercise 12**

Define a function that intakes a couple of numbers, multiplies them, and returns is multiplication plus 5. As for the multiplication per se, store it in a created variable inside the funciton called 'tricky_variable'.

Prove that tricky_variable does not exist outside the function itself.

Then, create another function which code ensures that the tricky_variable its not local anymore, and that can be used outside of the function without purely returning it.

In [132]:
def my_func (x, y):
    mult = x*y
    return mult+5

In [133]:
my_func(2, 3)

11

In [134]:
mult

NameError: name 'mult' is not defined

In [136]:
def my_func (x, y):
    global mult 
    mult = x*y
    return mult+5

In [137]:
my_func(2, 3)

11

In [139]:
mult

6

## **Coaching Session Exercises**

### **Exercise 1**

Fruits are an incredible topic of discussion. We have a list of them, though they have been miswritten. Create a function that:

 - Writes them in the right format ('AppLE' should be written like 'Apple'). 

 - Plus, some of them are included in a list according to the season where we can find them. Modify their name to display they season, like this: 'Strawberry, a spring fruit'
 
 - If they are not included in each list, it must be because they are found all year long. Instead, display it as in the folowing example: 'Apple, an all-year-long fruit'
 
Return the modify list, capture it in a variable, and print it.

In [1]:
list_fruits = ['APpLe', 'orange', 'STRAWberry', 'banana', 'cherry', 'MElon', 'figue', 'TangeRine', 'KiWi', 'GrapEFRuit', 'Grape', 'Blueberry', 'pomegranate']
fruits_autumn = ['grape', 'pommegranate', 'tangerine', 'kiwi']
fruits_winter = ['orange', 'grapefruit']
fruits_spring = ['strawberry', 'blueberry']
fruits_summer = ['cherry', 'melon', 'figue']

**Solution**

In [17]:
def func1(list_x):
    new_list = []
    for i in list_x:
        new_name = i.capitalize()
        if i.lower() in fruits_autumn:
            new_list.append(f'{new_name}, an autumn fruit')
        elif i.lower() in fruits_winter:
            new_list.append(f'{new_name}, a winter fruit')
        elif i.lower() in fruits_spring:
            new_list.append(f'{new_name}, a spring fruit')
        elif i.lower() in fruits_summer:
            new_list.append(f'{new_name}, a summer fruit')
        else:
            new_list.append(f'{new_name}, an all-year-long fruit')
    return new_list

new_list = func1(list_fruits)
print(new_list)

['Apple, an all-year-long fruit', 'Orange, a winter fruit', 'Strawberry, a spring fruit', 'Banana, an all-year-long fruit', 'Cherry, a summer fruit', 'Melon, a summer fruit', 'Figue, a summer fruit', 'Tangerine, an autumn fruit', 'Kiwi, an autumn fruit', 'Grapefruit, a winter fruit', 'Grape, an autumn fruit', 'Blueberry, a spring fruit', 'Pomegranate, an all-year-long fruit']

### **Exercise 2**

We have a list of numbers and we want to obtain the squared value +3 of each of the numbers.

Work out the solution by means of using **map** + a **lambda function**

In [2]:
numbers = [4, 56, 7, 8, 2, 34, 675, 43, 2, 1, 90, 879]

**Solution**

In [29]:
numbers = list(map(lambda x:x**2 + 3, numbers))

In [32]:
max(numbers)

356383628833897093046124

In [36]:
max(['a', 'b', 'ba', 'bc'])

'bc'